<ul class="js-intro-slider introslides">

  <li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_7.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light">#DataHack4FI </h1>
            <p class="subtitle">
              During Season 3 of DataHack4FI data enthusiasts and emerging tech companies are developing solutions that improve financial and economic inclusion. Visit the<span class="highlighted"><a href="https://www.datahack4fi.org/" target="_blank" rel="noopener noreferrer"> website</a></span> or join the <span class="highlighted"><a href="https://www.facebook.com/groups/DataHack4FI/" target="_blank" rel="noopener noreferrer"> Facebook</a></span> community for more info.
            </p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                                        :width => '115',
                                        :alt => 'Cenfri'), 'https://cenfri.org/',
                              :class => 'cenfri-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                                        :alt => 'Finmark Trust',
                                        :width => '115'), 'https://www.finmark.org.za/',
                              :class => 'finmark-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>









<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_8.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted">African </span>digital
platforms database </h1>
            <p class="subtitle"><span class="highlighted"><a href="http://access.i2ifacility.org/Digital_platforms/" target="_blank" rel="noopener noreferrer">Search and navigate</a></span> 283 online digital platforms across 8 countries</p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>










<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_6.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted">New </span>geospatial
data interface</h1>
            <p class="subtitle"><span class="highlighted"><a href="http://i2ifacility.org/data-portal/TZA/fsp-maps" target="_blank" rel="noopener noreferrer">View financial location data points</a></span>, with other additional data layers that you can overlay onto a map. You can also analyse the data.</p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

</ul>

