<ul class="js-intro-slider introslides">

<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_9.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted">FinNeeds </span>Toolkit</h1>
            <p class="subtitle">This toolkit introduces the elements of the FinNeeds measurement framework, outlines the FinNeeds indicators to track, and discusses the data sources and measurement approaches relevant for each element, as well as how to analyse the data for policy-ready insights. <span class="highlighted"><a href="http://access.i2ifacility.org/Measurement_framework/" target="_blank" rel="noopener noreferrer"> Get started</a></span></p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
	
	
	
	
	
	
	
	

  <li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_10.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
                 <h1 class="title -huge -light">Data Fest<span class="highlighted"> 2019 </span></h1>
            <p class="subtitle">
              Join us in Kigali, Rwanda, for the finale of the DataHack4FI Innovation Competition. Our data fest on 22 and 23 August 2019 will be an opportunity to connect with data enthusiasts and emerging tech entrepreneurs from across Africa. <span class="highlighted"><a href="https://www.datahack4fi.org/" target="_blank" rel="noopener noreferrer"> Register for the Data Fest</a></span> 
            </p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                                        :width => '115',
                                        :alt => 'Cenfri'), 'https://cenfri.org/',
                              :class => 'cenfri-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                                        :alt => 'Finmark Trust',
                                        :width => '115'), 'https://www.finmark.org.za/',
                              :class => 'finmark-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>









<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_8.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted"> Africa’s </span> digital platforms database </h1>
            <p class="subtitle"><span class="highlighted"><a href="http://access.i2ifacility.org/Digital_platforms/" target="_blank" rel="noopener noreferrer">Search and navigate</a></span> 277 online digital platforms across 8 countries</p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>


</ul>

