<ul class="js-intro-slider introslides">
	
	
<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_5.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted">Alternative data<br /></span> sources - videos</h1>
            <p class="subtitle"><span class="highlighted"><a href="http://access.i2ifacility.org/Alternative_data_sources/" target="_blank" rel="noopener noreferrer">Watch a series of videos</a></span>, demonstrating the benefits to using alternative data sources</p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'http://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'http://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
	
	
	
	
	
	
	
<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_4.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light">14 new datasets<br /> have been added to our data portal </h1>
            <p class="subtitle">Check out all the nationally representative <span class="highlighted"><a href="http://i2ifacility.org/data-portal" target="_blank" rel="noopener noreferrer">surveys here </a></span> </p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'http://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'http://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
	
	
	
	
	
  <li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_2.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light">DataHack4FI Finale
            </h1>
            <p class="subtitle">
              <span class="highlighted"><a href="http://www.datahack4fi.org/" target="_blank" rel="noopener noreferrer">See the African start-ups</a></span>
               who intend using data to extend financial inclusion
            </p>
            <div class="established">
              <span class="title-list">Established by</span>
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                                        :width => '115',
                                        :alt => 'Cenfri'), 'http://cenfri.org/',
                              :class => 'cenfri-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                                        :alt => 'Finmark Trust',
                                        :width => '115'), 'http://www.finmark.org.za/',
                              :class => 'finmark-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>



</ul>
