<ul class="js-intro-slider introslides">
	
	
	
	
<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_14.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light" style="font-weight: 300">#open<span class="highlighted" style="font-weight: 800">i2i</span></h1>
            <p class="subtitle">Openi2i is an initiative of <span class="highlighted">
				
				<a href="https://cenfri.org/" target="_blank" rel="noopener noreferrer">Cenfri</a></span> and <span class="highlighted">
				
				<a href="https://finmark.org.za/" target="_blank" rel="noopener noreferrer">FinMark Trust</a></span>, focused on sharing our learnings from the last five years of jointly implementing the insight2impact programme. <span class="highlighted">
				
				<a href="https://i2ifacility.org/initiatives" target="_blank" rel="noopener noreferrer">View partners
</a></span> </p>
            
            <br><br>
            <div class="established">
              
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>

	
	
	
	
	
 <li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_15.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
                 <h1 class="title -huge -light"><span class="highlighted">New </span>GIS data layers</h1>
            <p class="subtitle">
             We have added 13 new useful data layers to our GIS interface, where you can add to your map and analyse further. <span class="highlighted"><a href="https://i2ifacility.org/data-portal/NGA/fsp-maps" target="_blank" rel="noopener noreferrer">View GIS interface</a></span> 
            </p>
               <br><br>
            <div class="established">
              
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                                        :width => '115',
                                        :alt => 'Cenfri'), 'https://cenfri.org/',
                              :class => 'cenfri-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                                        :alt => 'Finmark Trust',
                                        :width => '115'), 'https://www.finmark.org.za/',
                              :class => 'finmark-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>	
	
	
	
	

	

  <li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_10.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
                 <h1 class="title -huge -light"><span class="highlighted">Grand winner</span><br>of DataHack4FI Season 3</h1>
            <p class="subtitle">
             Naledi - a multilingual, conversational banking assistant.<span class="highlighted"><a href="https://www.datahack4fi.org/" target="_blank" rel="noopener noreferrer"> View</a></span> 
            </p>
            <div class="established">
              
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                                        :width => '115',
                                        :alt => 'Cenfri'), 'https://cenfri.org/',
                              :class => 'cenfri-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
                   <br><br>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                                        :alt => 'Finmark Trust',
                                        :width => '115'), 'https://www.finmark.org.za/',
                              :class => 'finmark-logo',
                              :target => '_blank',
                              :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>	
	
	
	
	
	


	
	
	
	
	
	

<li class="introslide" style="background-image: url(<%= asset_path('homepage/image_home_9.jpg') %>)">
    <div class="wrapper">
      <div class="row">
        <div class="c-hero -slider">
          <div class="grid-s-12 grid-l-7 offset-l-5 offset-xl-5">
            <h1 class="title -huge -light"><span class="highlighted">FinNeeds </span>Toolkit</h1>
            <p class="subtitle">This toolkit introduces the elements of the FinNeeds measurement framework, outlines the FinNeeds indicators to track, and discusses the data sources and measurement approaches relevant for each element, as well as how to analyse the data for policy-ready insights. <span class="highlighted"><a href="http://access.i2ifacility.org/Measurement_framework/" target="_blank" rel="noopener noreferrer"> Get started</a></span></p>
            
               <br><br>
            <div class="established">
             
              <ul class="established-list">
                <li class="established-item">
                  <%= link_to image_tag('logos/cenfri.png',
                    :alt => 'Cenfri',
                    :width => '115'), 'https://cenfri.org/',
                    :class => 'cenfri-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
                <li class="established-item">
                  <%= link_to image_tag('logos/fmt.png',
                    :alt => 'Finmark Trust',
                    :width => '115'), 'https://www.finmark.org.za/',
                    :class => 'finmark-logo',
                    :target => '_blank',
                    :rel => 'noopener'
                  %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>




</ul>

