<div class="twitter-slider">
  <ul class="js-twitter-slider slidelist">
    <% @tweets.each do |tweet| %>
      <li class="slide">
        <div class="tweet <% if tweet.media? %>-narrow<% end %>">
          <a class="user" href="https://twitter.com/<%= tweet.user.name %>">@<%= tweet.user.name %></a>
          <time class="date" datetime="<%= tweet.created_at.strftime("%F") %>">
            <%= tweet.created_at.strftime("%d %b %Y") %>
          </time>
          <p class="text">
            <%= tweet.attrs[:full_text] %>
          </p>
        </div>
        <% if tweet.media? %>
          <div class="image" style="background-image: url(<%= tweet.media[0].media_url.to_s %>)"></div>
        <% end %>
      </li>
    <% end %>    
  </ul>  
</div>
