<% title 'Welcome to Insight to Impact' %>
<% - description = content_for?(:description) ? yield(:description) : 'i2i is a facility established by FinMark Trust and Cenfri to respond to the growing divide between the data available for policy and product design and the ability of financial services providers, policy makers and financial intermediaries to collect, make sense of and embed this data in their decision making.' %>

<% content_for :media_metas do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@i2ifacility" />
  <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="<%= request.base_url %><%= asset_path('homepage/image_home_9.jpg') %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
<% end %>

<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content">
      <%= render partial: 'homepage/cover_slider' %>
    </div>
  </div>
  <div class="l-content">
    <div class="l-featured-insights">
      <div class="wrapper">
        <h2 class="title heading -big -center -dark">News and insights</h2>
        <div class="row">
          <%= render partial: 'shared/cards', locals: { insights: @insights }%>
        </div>
        <div class="btn-container">
          <%= link_to 'See more', insights_path, class: 'c-button -sea -big' %>
        </div>
      </div>
    </div>
    <div class="l-dataportal-resume">
      <div class="wrapper">
        <div class="row">
          <h2 class="title -big -center -light">Data portal</h2>
          <div class="stats-list">
              <div class="column grid-s-5 grid-m-3">
                <div class="stats-item">
                  <div class="data">
                    <span class="quantity">34</span>
                    <svg class="icon icon-countries"><use xlink:href="#icon-countries"></use></svg>
                  </div>
                  <div class="legend">
                    <span class="legend-title">Countries</span>
                    <span class="legend-description">Across Africa and Asia</span>
                  </div>
                </div>
              </div>
              <div class="column grid-s-5 grid-m-3">
                <div class="stats-item">
                  <div class="data">
                    <span class="quantity">50</span>
                    <svg class="icon icon-finscope"><use xlink:href="#icon-finscope"></use></svg>
                  </div>
                  <div class="legend">
                    <span class="legend-title">National Surveys</span>
                    <span class="legend-description">Datasets</span>
                  </div>
                </div>
              </div>
              <div class="column grid-s-5 grid-m-3">
                <div class="stats-item">
                  <div class="data">
                    <span class="quantity">14</span>
                    <svg class="icon icon-financial"><use xlink:href="#icon-financial"></use></svg>
                  </div>
                  <div class="legend">
                    <span class="legend-title">Financial Diaries</span>
                    <span class="legend-description">Datasets</span>
                  </div>
                </div>
              </div>
              <div class="column grid-s-5 grid-m-3">
                <div class="stats-item">
                  <div class="data">
                    <span class="quantity">24</span>
                    <svg class="icon icon-geospatial"><use xlink:href="#icon-geospatial"></use></svg>
                  </div>
                  <div class="legend">
                    <span class="legend-title">Geospatial</span>
                    <span class="legend-description">Datasets</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-container">
            <%= link_to 'Discover data', data_portal_path, class: 'c-button -white -big' %>
          </div>
        </div>
      </div>
    </div>
    <div class="l-twitter">
      <div class="wrapper">
        <header>
          <h2 class="title -big -dark">i2i on Twitter</h2>
          <p class="twitter-description">Read the latest tweets from i2i.</p>
        </header>
        <%= render partial: 'homepage/twitter_slider' %>
      </div>
    </div>
  </div>
</div>
