<% title 'i2i' %>

<div class="l-homepage">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true } %>
      <div class="c-hero">
        <h1 class="title -light -huge">Advancing financial inclusion</h1>
        <p class="subtitle">A platform for
          <a class="js-anchor" href="#governments">Governments</a>,
          <a class="js-anchor" href="#researchers">Researchers</a>
          and
          <a class="js-anchor" href="#fsp-tech">Financial Service Providers.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="homepage-section -government">
    <div class="wrapper">
      <div id="fsp-tech" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Financial Service Providers:</h3>
        <p>Data is increasingly important for all types of markets players including banks, Fintech, payment providers, credit providers, insurance companies, MFIs, cooperatives, and others. This data portal makes new tools and data sets available to help market players deepen their understanding of client behaviour and needs, and identify new market opportunities.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Select a country</a>
      </div>
    </div>
  </div>

  <div class="homepage-section -researcher">
    <div class="wrapper">
      <div id="governments" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Governments, Policymakers and Regulators:</h3>
        <p>Data is increasingly used to inform, measure and evaluate financial inclusion policies. The data portal offers data and indicators for policymakers and regulators to compare their jurisdiction with their peers, identify under- and un-served populations that require interventions, and understand the state of financial inclusion.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Customize indicators</a>
      </div>
    </div>
  </div>

  <div class="homepage-section -fsp-tech">
    <div class="wrapper">
      <div id="researchers" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Researchers:</h3>
        <p>Data is a critical input for researchers looking to deepen our understanding of financial inclusion and its ultimate impact on communities and households. The data portal provides a one-stop-shop for your financial inclusion data needs by gathering, cleaning, and making previously inaccessible datasets available to download and interact with.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Draw up reports</a>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/contribute' %>
</div>
