<% title 'i2i' %>

<div class="l-homepage">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true } %>
      <div class="c-hero">
        <h1 class="title -light -huge">Advancing financial inclusion</h1>
        <p class="subtitle">A platform for
          <a class="js-anchor" href="#governments">governments</a>,
          <a class="js-anchor" href="#researchers">researchers</a>
          and
          <a class="js-anchor" href="#fsp-tech">FSP Techs.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="homepage-section -government">
    <div class="wrapper">
      <div id="governments" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Governments</h3>
        <p>Generic introduction text lorem ipsum id elit non mi
          porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
          lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia
          bibendum nulla sed consectetur.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Select a country</a>
      </div>
    </div>
  </div>

  <div class="homepage-section -researcher">
    <div class="wrapper">
      <div id="researchers" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">Policymakers and regulators.</h3>
        <p>Data is increasingly used to inform, measure and evaluate financial inclusion policies. The data portal offers data and indicators for policymakers and regulators to compare their jurisdiction with their peers, identify under- and un-served populations that require interventions, and understand the state of financial inclusion.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Customize indicators</a>
      </div>
    </div>
  </div>

  <div class="homepage-section -fsp-tech">
    <div class="wrapper">
      <div id="fsp-tech" class="c-card-highlight -homepage">
        <h3 class="title -dark -medium">FSP Tech.</h3>
        <p>Generic introduction text lorem ipsum id elit non mi
          porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur.
          lorem ipsum id elit non mi porta gravida at eget metus. Aenean lacinia
          bibendum nulla sed consectetur.
        </p>
        <a href="<%= data_portal_path %>" class="c-button">Draw up reports</a>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/contribute' %>
</div>
