<% title 'About' %>

<div class="l-about">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">About i2i</h1>
              <p class="subtitle">Learn more about the team and values that drive our work. <a href="#background">Background</a>, <a href="#about-us">about us</a>,
              <a href="#vision-mission">i2i vision and mission</a>, <a href="#our-work">our work</a>, <a href="#team-members">team members</a>, <a href="#focus-countries">focus countries</a>, <a href="#careers">careers</a>, and <a href="#contact">contact</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">
      <div class="insight-container">
        <div class="c-card-highlight -about">
          <h3 class="title -dark -medium">Background</h3>
          <p>The availability of data in financial inclusion has grown tremendously in recent years. Data initiatives such as the World Bank’s Findex, FinMark Trust’s Finscope, IMF’s Financial Access Surveys, AFI’s Core Set, GPFI’s Basic Set, MIX Market’s Finclusion Lab, as well as countless studies driven at a national level have played a critical role in deepening our understanding of financial inclusion.</p>
          <a href="#" class="c-button">Read more</a>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('placeholders/placeholder_5.jpg') %>)"></div>
      </div>
      <div class="insight-container -reverse">
        <div class="c-card-highlight -about">
          <h3 class="title -dark -medium">About us</h3>
          <p>We are in the business of liberating data. Whether you are a financial service provider,
            a policymaker, impact investor, or development partner, we want you to optimise the impact
            of your work through the use of data. i2i is a resource centre that aims to catalyse the
            provision and use of data by private and public sector actors to improve financial
            inclusion through evidence-based, data-driven policies and client-centric product design.</p>
          <a href="#" class="c-button">Read more</a>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('placeholders/placeholder_6.jpg') %>)"></div>
      </div>

      <div class="insight-container -what-we-do">

        <div class="c-card-highlight -about">
          <h3 class="title -dark -medium">i2i vision</h3>
          <p>Policymakers, financial service providers, and financial inclusion development partners
            use data to make effective, evidence-based decisions that drive positive financial inclusion
            and welfare outcomes for all people. Data-driven policies and client-centric product design
            lead to financial services that respond to people’s needs who are traditionally underserved
            by formal financial systems. All people are able to adequately absorb economic shocks,
            accumulate wealth, and unlock economic opportunities through the use of financial services.</p>
        </div>

        <div class="c-card-highlight -about">
          <h3 class="title -dark -medium">i2i mission</h3>
          <p>We aim to unlock development outcomes by mobilising the data market and catalysing the generation and
            use of high quality, client-centric data. We accomplish this by advancing measurement frameworks,
            client research, and the innovative use and collection of data with the purpose of improving the
            effectiveness of financial inclusion policies, products, and programmes. We aim to be the leading
            global resource centre for financial inclusion data.</p>
        </div>

        <div class="image-container" style="background-image: url(<%= asset_path('placeholders/placeholder_6.jpg') %>)"></div>
      </div>

      <div class="insight-container -reverse">
        <div class="c-card-highlight -about">
          <h3 class="title -dark -medium">Our work</h3>
          <p>The work of the i2i facility is structured along five focus areas. In partnership with a
            broad range of stakeholders (including policymakers, financial services providers, data
            scientists, researchers, academics, and development partners), our own team of experts
            lead the development of innovative solutions in each of these areas. Our communities
            of practice further facilitate learning, collaboration, and sharing of knowledge
            by practitioners and other industry actors.</p>
          <a href="#" class="c-button">Read more</a>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('placeholders/placeholder_4.jpg') %>)"></div>
      </div>
    </div>
    <div class="l-section -team">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Team</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Description text. Lorem ipsum sit amet ornare sem lacinia quam venenatis vestibulum.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @teamMembers.each do |member| %>
                <div class="grid-s-12 grid-m-4 grid-l-3">
                  <div class="c-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>"  tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-section -countries" style="background-image: url(<%= asset_path('about/map-about.svg') %>)">
      <div class="row">
        <div class="grid-s-12 grid-m-6 grid-l-5">
          <div class="c-card-highlight -countries-about">
            <h3 class="title -dark -medium">Focus countries</h3>
            <ul class="c-country-list">
              <li class="country-item"><a href="#">Bangladesh</a></li>
              <li class="country-item"><a href="#">Ghana</a></li>
              <li class="country-item"><a href="#">India</a></li>
              <li class="country-item"><a href="#">Indonesia</a></li>
              <li class="country-item"><a href="#">Kenya</a></li>
              <li class="country-item"><a href="#">Mozambique</a></li>
              <li class="country-item"><a href="#">Nigeria</a></li>
              <li class="country-item"><a href="#">Pakistan</a></li>
              <li class="country-item"><a href="#">Rwanda</a></li>
              <li class="country-item"><a href="#">Senegal</a></li>
              <li class="country-item"><a href="#">Tanzania</a></li>
              <li class="country-item"><a href="#">Uganda</a></li>
              <li class="country-item"><a href="#">Zambia</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="l-section -advisory">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Advisory board</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Description text. Lorem ipsum sit amet ornare sem lacinia quam venenatis vestibulum.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @advisoryMembers.each do |member| %>
                <div class="grid-s-12 grid-m-4 grid-l-3">
                  <div class="c-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>" tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-section -contact">
      <div class="l-section-description">
        <div class="grid-m-8">
          <h2 class="title -dark -big -center">Contact</h2>
        </div>
        <div class="grid-m-6">
          <p class="section-description">
            Description text. Lorem ipsum sit amet ornare sem lacinia quam venenatis vestibulum.
          </p>
        </div>
      </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-addresses">
              <div class="grid-l-8">
                <div class="row">
                  <div class="grid-l-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/New+Rd+%26+16th+Rd,+Midrand,+1685,+Sud%C3%A1frica/@-25.981063,28.127887,17z/data=!3m1!4b1!4m5!3m4!1s0x1e956e3ea117bcf5:0xc2e5f08e0d7747bc!8m2!3d-25.9810678!4d28.1300757" rel="noopener noreferrer" target="_blank" alt="Fin Mark map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/map-finmark.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">Fin Mark</h3>
                        <span class="address-field">First Floor</span>
                        <span class="address-field">Block J East</span>
                        <span class="address-field">Central Park</span>
                        <span class="address-field">400 16th Road (cnr New Road)</span>
                        <span class="address-field">Randjespark (Midrand)</span>
                        <a class="address-field" href="tel:+27 11 315 9197" alt="Fin Mark contact phone">+27 11 315 9197</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:info@i2ifacility.org">info@i2ifacility.org</a>
                      </div>
                    </address>
                  </div>
                  <div class="grid-l-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/99+Jip+De+Jager+Dr,+De+Bron,+Cape+Town,+7530,+Sud%C3%A1frica/@-33.8558211,18.6252073,18.37z/data=!4m5!3m4!1s0x1dcc57517431becf:0xb602e69f03fc6860!8m2!3d-33.8554596!4d18.6256236" rel="noopener noreferrer" target="_blank" alt="Cenfri map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/map-cenfri.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">Cenfri</h3>
                        <span class="address-field">The Vineyards Office Estate</span>
                        <span class="address-field">Farm</span>
                        <span class="address-field">Farm 1, Block A Building</span>
                        <span class="address-field">99 Jip de Jager Drive</span>
                        <span class="address-field">Bellville, Cape Town</span>
                        <a class="address-field" href="tel:+27 21 913 9510" alt="Cenfri contact phone">+27 21 913 9510</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:info@i2ifacility.org">info@i2ifacility.org</a>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-form-contact">
              <div class="grid-l-8">
                <form action="#" class="c-form contact-form">
                  <div class="custom-row">
                    <label for="name">name</label>
                    <input type="text" name="name" placeholder="Name" required>
                  </div>

                  <div class="custom-row">
                    <label for="email">email</label>
                    <input type="email" name="email" placeholder="Email" required>
                  </div>

                  <div class="custom-row">
                    <label for="subject">subject</label>
                    <textarea name="subject" placeholder="Text Subject" required></textarea>
                  </div>

                  <div class="footer-form">
                    <button class="c-button -sea -big">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
