<% title 'About' %>

<div class="l-about">
  <div class="l-intro">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.png') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -light -huge">About i2i</h1>
                <p class="subtitle">Learn more about the team and values that drive our work. <a href="#background" class="js-anchor">Background</a>, <a href="#about-us" class="js-anchor">about us</a>,
                <a href="#vision-mission" class="js-anchor">i2i vision and mission</a>, <a href="#our-work" class="js-anchor">our work</a>, <a href="#team" class="js-anchor">team members</a>, <a href="#focus-countries" class="js-anchor">focus countries</a>, <a href="#advisor" class="js-anchor">advisory board</a> and
                <a href="#contact" class="js-anchor">contact</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="background" class="c-card-highlight -about">
        <div class="content">
          <h3 class="title -dark -medium">Background</h3>
          <p>The availability of data in financial inclusion has grown tremendously in recent years. Data initiatives such as the World Bank’s Findex, FinMark Trust’s Finscope, IMF’s Financial Access Surveys, AFI’s Core Set, GPFI’s Basic Set, MIX Market’s Finclusion Lab, as well as countless studies driven at a national level have played a critical role in deepening our understanding of financial inclusion.</p>
          <button class="c-button js-read-more" data-title="Background">Read more</button>
          <div style="display: none;">
            <p>
              The availability of data in financial inclusion has grown tremendously in recent years. Data initiatives such as the World Bank’s Findex, FinMark Trust’s Finscope, IMF’s Financial Access Surveys, AFI’s Core Set, GPFI’s Basic Set, MIX Market’s Finclusion Lab, as well as countless studies driven at a national level have played a critical role in deepening our understanding of financial inclusion.
            </p>
            <p>
              At the same time, increasing volumes of client data are becoming available for use by financial service providers. This includes internal client data such as transactional data as well as new external sources of data emerging from fields that were previously thought of as unrelated to financial services. These alternative data sources – number of Facebook likes, overnight airtime balance, what material your home is made of – are being used to gather important information to deliver financial services to new consumer segments. While many of these innovations are happening outside of the financial inclusion space, the availability of this data and willingness of providers to use them in developing and emerging market contexts has resulted in rich insights that can help service providers reach and serve previously excluded populations.
            </p>
            <p>
              However, despite the increasing availability of data, in practice a disconnect still exists between the decisions being made for financial inclusion and the data. Whether it’s that the data is not easily accessible or that it does not respond to their specific needs, policymakers, financial service providers, and development partners have yet to fully capitalise on the power of data to inform their work. This data gap hinders the ability of the financial sector to reach out to all segments of the population and generate better financial inclusion and welfare outcomes.
            </p>
            <p>
              Launched in 2015, i2i was created in response to this identified data gap. The i2i facility is jointly hosted by <a href="http://www.cenfri.org" target="_blank" rel="noopener">Cenfri </a>and <a href="http://www.finmark.org.za/" target="_blank">FinMark Trust</a> and funded by the <a href="http://www.gatesfoundation.org/" target="_blank" rel="noopener">Bill & Melinda Gates Foundation</a> in partnership with <a href="http://www.mastercardfdn.org/" target="_blank" rel="noopener">The MasterCard Foundation</a>.
            </p>
          </div>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('about/background.jpg') %>)"></div>
      </div>

      <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -medium">About us</h3>
          <p>We are in the business of liberating data. Whether you are a financial service provider,
            a policymaker, impact investor, or development partner, we want you to optimise the impact
            of your work through the use of data. i2i is a resource centre that aims to catalyse the
            provision and use of data by private and public sector actors to improve financial
            inclusion through evidence-based, data-driven policies and client-centric product design.</p>
          <button class="c-button js-read-more" data-title="About us">Read more</button>
          <div style="display: none;">
            <p>
              We are in the business of liberating data. Whether you are a financial service provider, a policymaker, impact investor, or development partner, we want you to optimise the impact of your work through the use of data. i2i is a resource centre that aims to catalyse the provision and use of data by private and public sector actors to improve financial inclusion through evidence-based, data-driven policies and client-centric product design.
            </p>
            <p>
              We facilitate the data market and bridge the data gap to sustainably connect decision-makers with the data they need. We accomplish this by building on and showcasing the existing knowledge base of financial inclusion data and collaborating with a wide range of partners, including, individuals, companies, organizations, and other entities that are well-positioned to provide high-quality data solutions to financial service providers, policymakers, and other financial inclusion actors.
            </p>
            <p>
              We innovate around data. Data can play an integral role in all aspects of financial inclusion development. We are experimenting with new ways to collect, analyse and store data more effectively and efficiently. This can mean lowering the cost of up-to-date, high quality geospatial data on financial access points or helping banks offer more tailored financial solutions to their clients by analysing their existing transactional data. We are also looking into integrated data solutions such as machine learning to better assess credit worthiness for clients with no official credit history or APIs to share client data to open the door to additional services that improve their client value. Currently, many of these practices are emerging and being adopted in developed countries or in other sectors. We are looking to learn from these innovations and apply them, where relevant, to opportunities for expanding financial inclusion in developing and emerging markets.
            </p>
            <p>
              Data is a public good and we believe that making financial inclusion data more open will change the sector in ways we cannot yet even imagine. We open data in three ways:
            </p>
            <ul>
              <li>We provide a platform for others to open their datasets to the public;</li>
              <li>We build the capacity of others to collect, use, and share data through technical assistance, challenge funds, and our communities of practice; and</li>
              <li>We disseminate best practices and lessons learned about data and financial inclusion through publications and other communications</li>
            </ul>
            <p>
              We enable financial inclusion that enables. We believe that financial inclusion enables people to weather economic storms, make productive investments, and accumulate wealth. To achieve this, we envision a vibrant responsive data solutions market. We enable local and international data scientists to better serve financial service providers and policymakers with relevant, robust, quality data solutions. At the same time, we enable financial service providers and policymakers to tap into this pool of local and international expertise and talent to help translate data into insights and insights into real impact on the ground. (Then measure that impact!) We do this through funding, technical assistance, and connecting data expertise and financial sector practitioners.
            </p>
          </div>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('about/about-us.jpg') %>)"></div>
      </div>

      <div id="vision-mission" class="c-card-highlight -about">
        <div class="content">
          <h3 class="title -dark -medium">i2i vision</h3>
          <p>Policymakers, financial service providers, and financial inclusion development partners
            use data to make effective, evidence-based decisions that drive positive financial inclusion
            and welfare outcomes for all people. Data-driven policies and client-centric product design
            lead to financial services that respond to people’s needs who are traditionally underserved
            by formal financial systems. All people are able to adequately absorb economic shocks,
            accumulate wealth, and unlock economic opportunities through the use of financial services.</p>

          <h3 class="title -dark -medium">i2i mission</h3>
          <p>We aim to unlock development outcomes by mobilising the data market and catalysing the generation and
            use of high quality, client-centric data. We accomplish this by advancing measurement frameworks,
            client research, and the innovative use and collection of data with the purpose of improving the
            effectiveness of financial inclusion policies, products, and programmes. We aim to be the leading
            global resource centre for financial inclusion data.</p>
        </div>

        <div class="image-container" style="background-image: url(<%= asset_path('about/i2i-vision-mission.jpg') %>)"></div>
      </div>

      <div id="our-work" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -medium">Our work</h3>
          <p>The work of the i2i facility is structured along five focus areas. In partnership with a
            broad range of stakeholders (including policymakers, financial services providers, data
            scientists, researchers, academics, and development partners), our own team of experts
            lead the development of innovative solutions in each of these areas. Our communities
            of practice further facilitate learning, collaboration, and sharing of knowledge
            by practitioners and other industry actors.</p>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('about/our-work.jpg') %>)"></div>
      </div>
    </div>
    <div id="team" class="l-section -team">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Team</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the people that drive our work and promote our values.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @teamMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>"  tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="focus-countries" class="l-section -countries" style="background-image: url(<%= asset_path('about/map-about.svg') %>)">
      <div class="row">
        <div class="grid-s-12 grid-m-6 grid-l-5">
          <div class="c-card-highlight -countries-about" style="background-image: url(<%= asset_path('about/map-about.svg') %>)">
            <h3 class="title -dark -medium">Focus countries</h3>
            <ul class="country-list">
              <% @countries.each do |country| %>
                <li class="country-item"><a href="#" class="js-country" data-iso="<%= country[:iso] %>"><%= country[:name] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="advisor" class="l-section -advisory">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Advisory board</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the experts helping us navigate and respond to the dynamic external financial inclusion environment.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @advisoryMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>" tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="l-section -contact">
      <div class="l-section-description">
        <div class="grid-m-8">
          <h2 class="title -dark -big -center">Contact</h2>
        </div>
        <div class="grid-m-6">
          <p class="section-description">
            Please contact us at the details below if you have any questions about i2i and our work.
          </p>
        </div>
      </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-addresses">
              <div class="grid-s-12 grid-l-8">
                <div class="row">
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/New+Rd+%26+16th+Rd,+Midrand,+1685,+Sud%C3%A1frica/@-25.981063,28.127887,17z/data=!3m1!4b1!4m5!3m4!1s0x1e956e3ea117bcf5:0xc2e5f08e0d7747bc!8m2!3d-25.9810678!4d28.1300757" rel="noopener noreferrer" target="_blank" alt="FinMark Trust map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-finmark.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">FinMark Trust</h3>
                        <span class="address-field">First Floor</span>
                        <span class="address-field">Block J East</span>
                        <span class="address-field">Central Park</span>
                        <span class="address-field">400 16th Road (cnr New Road)</span>
                        <span class="address-field">Randjespark (Midrand)</span>
                        <a class="address-field" href="tel:+27 11 315 9197" alt="FinMark Trust contact phone">+27 11 315 9197</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:info@i2ifacility.org">info@i2ifacility.org</a>
                      </div>
                    </address>
                  </div>
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/99+Jip+De+Jager+Dr,+De+Bron,+Cape+Town,+7530,+Sud%C3%A1frica/@-33.8558211,18.6252073,18.37z/data=!4m5!3m4!1s0x1dcc57517431becf:0xb602e69f03fc6860!8m2!3d-33.8554596!4d18.6256236" rel="noopener noreferrer" target="_blank" alt="Cenfri map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-cenfri.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">Cenfri</h3>
                        <span class="address-field">The Vineyards Office Estate</span>
                        <span class="address-field">Farm</span>
                        <span class="address-field">Farm 1, Block A Building</span>
                        <span class="address-field">99 Jip de Jager Drive</span>
                        <span class="address-field">Bellville, Cape Town</span>
                        <a class="address-field" href="tel:+27 21 913 9510" alt="Cenfri contact phone">+27 21 913 9510</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:info@i2ifacility.org">info@i2ifacility.org</a>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-form-contact">
              <div class="grid-s-12 grid-m-8">
                <%= form_tag '/email', class: 'c-form contact-form' do %>
                  <div class="custom-row">
                    <label for="email_name">name</label>
                    <%= text_field_tag 'email[name]', nil, placeholder: 'Name', required: true %>
                  </div>
                  <div class="custom-row">
                    <label for="email_email">email</label>
                    <%= text_field_tag 'email[email]', nil, type: 'email', placeholder: 'Email', required: true %>
                  </div>
                  <div class="custom-row">
                    <label for="email_subject">subject</label>
                    <%= text_area_tag 'email[subject]', nil, placeholder: 'Text subject', required: true %>
                  </div>
                  <div class="footer-form">
                    <button class="c-button -sea -big js-submit">Send</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
