<% title 'About' %>

<div class="l-about">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">About i2i</h1>
                <p class="subtitle">
                  Learn more about the team and values that drive our work.
                  <a href="#background" class="js-anchor">Background</a>, <a href="#about-us" class="js-anchor">about us</a>, <a href="#vision-mission" class="js-anchor">i2i vision and mission</a>, <a href="#our-work" class="js-anchor">our work</a>, <a href="#team" class="js-anchor">team members</a>, <a href="#focus-countries" class="js-anchor">focus countries</a>, <a href="#advisor" class="js-anchor">advisory panel</a> and
                <a href="#contact" class="js-anchor">contact</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
    <div class="l-section -insights">

      <div id="about-us" class="c-card-highlight -about -reverse">
        <div class="content">
          <h3 class="title -dark -big">About us</h3>
          <p>
            insight2impact (i2i) is a global resource centre that seeks to
            improve financial inclusion through the smarter use of data.
          </p>
          <p>
            Whether you are a financial service provider, policymaker or development
            partner, we aim to see you develop evidence-based, data-driven policies or
            client-centric products that are inclusive and impactful.
          </p>
          <button class="c-button js-read-more" data-title="About us">Read more</button>
          <div style="display: none;">

            <h4 class="title -leading">Why data?</h4>
            <p>
              Although increasing volumes of data – both internal (e.g. client transactional
              data) and external (e.g. alternative data from social media or geospatial data)
              – are becoming available, we are yet to fully capitalise on the power of that
              data to advance financial sector development and generate better financial
              inclusion and welfare outcomes.
            </p>
            <h4 class="title">How we contribute</h4>
            <p>The initiatives undertaken by i2i include:</p>
            <ul>
              <li>
                <a href="/insights" class="link">
                  Researching how data can drive both client and firm value in
                  the financial sector.
                </a>
              </li>
              <li>
                Offering technical assistance to financial service providers
                who wish to translate data into insights.
              </li>
              <li>
                <a href="/initiatives/financial-services-and-data" class="link">
                  Working to improve data quality by sharing practical
                  information and best practices on data collection and
                  analysis.
                </a>
              </li>
              <li>
                <a href="/data-portal" class="link">
                  Making relevant datasets and tools publicly
                  available through our data portal.
                </a>
              </li>
              <li>
                <a href="/initiatives/measurement-in-financial-inclusion" class="link">
                  Changing the way that financial inclusion is traditionally
                  measured by developing and piloting new measurement
                  frameworks.
                </a>
              </li>
              <li>
                <a href="/initiatives/datahack4fi" class="link">
                  Inspiring young entrepreneurs and developers to harness the
                  power of data. [hyperlink to DataHack4FI]Encouraging partnerships
                  and facilitating networking in four focus countries.
                </a>
              </li>
            </ul>
            <h4 class="title">Who we work with</h4>
            <p>
              We facilitate the data market and bridge the data gap to
              sustainably connect decision-makers with the data they need. We
              accomplish this by building on and showcasing the existing
              knowledge base of financial inclusion data and collaborating with a
              wide range of partners, including, individuals, companies,
              organisations, and other entities that are well-positioned to
              provide high-quality data solutions to financial service providers,
              policymakers, and other financial inclusion actors.
            </p>
            <p>
              Launched in 2015, i2i is jointly hosted by <a
              href="https://cenfri.org/">Cenfri</a> and <a
              href="https://www.finmark.org.za/">FinMark Trust</a> and is funded by the
              <a href="https://www.gatesfoundation.org/">Bill &amp; Melinda Gates
              Foundation</a> in partnership with <a
              href="https://www.mastercardfdn.org/">The MasterCard Foundation</a>.
            </p>
          </div>
        </div>
        <div class="image-container" style="background-image: url(<%= asset_path('about/about-us.jpg') %>)"></div>
      </div>
    </div>
    <div id="team" class="l-section -team">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Team</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the people that drive our work and promote our values.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @teamMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>"  tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image.url(:thumb) %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="focus-countries" class="l-section -countries" style="background-image: url(<%= asset_path('about/map-about.svg') %>)">
      <div class="row">
        <div class="grid-s-12 grid-m-6 grid-l-5">
          <div class="c-card-highlight -countries-about" style="background-image: url(<%= asset_path('about/map-about.svg') %>)">
            <h3 class="title -dark -big">Focus countries</h3>
            <ul class="country-list">
              <% @countries.each do |country| %>
                <li class="country-item"><a href="#" class="js-country" data-iso="<%= country[:iso] %>"><%= country[:name] %></a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="advisor" class="l-section -advisory">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-section-description">
            <div class="grid-m-8">
              <h2 class="title -dark -big -center">Advisory panel</h2>
            </div>
            <div class="grid-m-6">
              <p class="section-description">
                Meet the experts helping us navigate and respond to the dynamic external financial inclusion environment.
              </p>
            </div>
          </div>
          <div class="l-staff-grid">
            <div class="row">
              <% @advisoryMembers.each do |member| %>
                <div class="grid-s-6 grid-m-4 grid-l-3">
                  <div class="c-profile js-profile"
                  data-modal="team"
                  data-role="<%= RoleType.key_for(member.role.to_i) %>"
                  data-slug="<%= member.slug %>" tabindex="0" role="button" aria-label="<%= member.name%>, open modal">
                    <div class="avatar" style="background-image: url(<%= member.image %>)"></div>
                    <div class="info">
                      <span class="name"><%= member.name %></span>
                      <% unless member.organization_name.blank? %>
                        <span class="organization"><%= member.organization_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact" class="l-section -contact">
      <div class="l-section-description">
        <div class="grid-m-8">
          <h2 class="title -dark -big -center">Contact</h2>
        </div>
        <div class="grid-m-6">
          <p class="section-description">
            Please contact us at the details below if you have any questions about i2i and our work.
          </p>
        </div>
      </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-addresses">
              <div class="grid-s-12 grid-l-8">
                <div class="row">
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/New+Rd+%26+16th+Rd,+Midrand,+1685,+Sud%C3%A1frica/@-25.981063,28.127887,17z/data=!3m1!4b1!4m5!3m4!1s0x1e956e3ea117bcf5:0xc2e5f08e0d7747bc!8m2!3d-25.9810678!4d28.1300757" rel="noopener noreferrer" target="_blank" alt="FinMark Trust map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-finmark.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">FinMark Trust</h3>
                        <span class="address-field">First Floor</span>
                        <span class="address-field">Block J East</span>
                        <span class="address-field">Central Park</span>
                        <span class="address-field">400 16th Road (cnr New Road)</span>
                        <span class="address-field">Randjespark (Midrand)</span>
                        <a class="address-field" href="tel:+27 11 315 9197" alt="FinMark Trust contact phone">+27 11 315 9197</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %></a>
                      </div>
                    </address>
                  </div>
                  <div class="grid-s-12 grid-m-6">
                    <address class="c-address">
                      <a href="https://www.google.es/maps/place/99+Jip+De+Jager+Dr,+De+Bron,+Cape+Town,+7530,+Sud%C3%A1frica/@-33.8558211,18.6252073,18.37z/data=!4m5!3m4!1s0x1dcc57517431becf:0xb602e69f03fc6860!8m2!3d-33.8554596!4d18.6256236" rel="noopener noreferrer" target="_blank" alt="Cenfri map location">
                        <div class="map" style="background-image: url(<%= asset_path('about/new_map-cenfri.png')%>)"></div>
                      </a>
                      <div class="info">
                        <h3 class="title -dark -medium">Cenfri</h3>
                        <span class="address-field">The Vineyards Office Estate</span>
                        <span class="address-field">Farm</span>
                        <span class="address-field">Farm 1, Block A Building</span>
                        <span class="address-field">99 Jip de Jager Drive</span>
                        <span class="address-field">Bellville, Cape Town</span>
                        <a class="address-field" href="tel:+27 21 913 9510" alt="Cenfri contact phone">+27 21 913 9510</a>
                        <a class="address-link" alt="Cenfri email" href="mailto:<%= ENV['I2I_MAIL'] %>"><%= ENV['I2I_MAIL'] %></a>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="grid-s-12">
            <div class="l-form-contact">
              <div class="grid-s-12 grid-m-8">

       <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="c-form contact-form">

                   <input type=hidden name="oid" value="00D0Y000002FWyG">
                   <input type=hidden name="retURL" value="">

                   <div class="custom-row">
                   <label for="first_name">First Name</label><br>
                   <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" />
				   </div>

				   <div class="custom-row">
				   <label for="last_name">Last Name</label><br>
				   <input  id="last_name" maxlength="80" name="last_name" size="20" type="text" />
				   </div>

				   <div class="custom-row">
				   <label for="email">Email</label><br>
				   <input  id="email" maxlength="80" name="email" size="20" type="text" />
				   </div>


				   <div class="custom-row">
				   <label for="title">Title</label><br>
				   <input  id="title" maxlength="40" name="title" size="20" type="text" />
				   </div>


				   <div class="custom-row">
				   <label for="company">Company</label><br>
				   <input id="company" maxlength="40" name="company" size="20" type="text" />
				   </div>


				   <div class="custom-row">
				   <label for="country">Country</label><br>
				   <input  id="country" maxlength="40" name="country" size="20" type="text" />
				    </div>


				    <div class="custom-row">
				   <label for="Message">Message</label><br>
				   <textarea  id="00N0Y00000QyK3C" name="00N0Y00000QyK3C" type="text" wrap="soft"></textarea>
				    </div>

				    <br>
				    <input type="submit" name="submit" class="c-button">

              </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
