<% title 'i2i Micro, Small and Medium Enterprises' %>

<div class="l-national-surveys l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-data.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-7">z
                <div class="row">
                  <h1 class="title -light -huge">i2i Data Portal</h1>
                  <p class="subtitle">Compare indicators across countries and periods. Start by gaining a broad overview of the financial market through <%= link_to 'National Surveys', national_surveys_path %>, and then deepen your understanding of how low-income households manage their financial lives using <%= link_to 'Financial Diaries', financial_diaries_path %>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'data_portal/sections_tabs' %>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <%= render partial: 'data_portal/description',
                 locals: {
                   section_title: 'Micro, Small and Medium Enterprises',
                   description: 'Lorem ipsum.'
                 } %>
      <%= render partial: 'data_portal/filtered_countries_list', locals: { countries: @worldwide_countries, regions_hash: @regions_hash } %>
      <%= render partial: 'data_portal/regions_list', locals: { regions: @regions } %>
      <%= render partial: 'data_portal/additional_data' %>
    </div>
  </div>
</div>
