<div class="c-apply-filters">
  <form action="" name="apply-filter-form">
    <ul>
      <% indicators.forEach(function(ind) { %>
        <li><%= ind.name %></li>
        <ul class="indicator-filters">
          <% ind.options.forEach(function(opt) { %>
            <li>
              <div class="c-checkbox">
                <input type="checkbox" <% if(opt.filtered) { %> checked <% } %> name="<%= ind.id %>"
                  value="<%= opt.name %>" id="<%= opt.name %>"
                >
                <label for="<%= opt.name %>"><%= opt.name %></label>
              </div>
            </li>
          <% }); %>
        </ul>
      <% }); %>
    </ul>
  </form>
</div>
