<div class="select-context">
  <h3>Select year</h3>
  <ul>
    <% years.forEach(function (year) { %>
      <li>
        <div class="c-radio-button">
          <input type="radio" id="year-<%= year.value %>" name="year" value="<%= year.value %>" class="js-year" <%= year.active ? 'checked' : '' %> />
          <label for="year-<%= year.value %>"><%= year.value %></label>
        </div>
      </li>
    <% }) %>
  </ul>
  <h3>Select jurisdiction</h3>
  <ul>
    <% jurisdictions.forEach(function (jurisdiction) { %>
      <li>
        <div class="c-radio-button">
          <input type="radio" id="jurisdiction-<%= jurisdiction.value %>" name="jurisdiction" value="<%= jurisdiction.value %>" class="js-jurisdiction" <%= jurisdiction.active ? 'checked' : '' %> />
          <label for="jurisdiction-<%= jurisdiction.value %>"><%= jurisdiction.value %></label>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
