<% title 'Initiatives | i2i' %>

<div class="l-initiatives l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-initiatives.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-s-12 grid-l-10">
                <%= link_to 'Go to i2i initiatives', initiatives_path, class: "initiatives-link" %>
                <h1 class="title -highlight -huge"><%= @tag.title %></h1>
              </div>
              <div class="grid-l-6">
                <p class="subtitle"><%= @tag.description %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-library-content-selector">
        <div class="wrapper">
          <div class="row">
            <div class="selectors-container grid-12">
              <% @featured_tags.each do |tag| %>
                <%= link_to tag.title, initiatives_filter_index_path(tag.slug),
                class: "content-selector #{'-current' if (@tag && @tag.slug == tag.slug)}" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="l-card-grid">
      <div class="wrapper">
        <div class="row">
          <%= render partial: 'shared/cards', locals: { insights: @insights, route: 'initiatives' }%>
        </div>
      </div>
    </div>
  </div>
</div>
