<% title 'Research themes | i2i' %>

<div class="l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-initiatives.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <h1 class="title -highlight -huge">Research themes</h1>
                <p class="subtitle">See how we’re working to promote financial inclusion through data-driven insights.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">
        <% if @featured_tags && @featured_tags.size > 0 %>
          <div class="row">
            <div class="grid-s-12 grid-m-12">
              <article class="c-card">
                <a href="<%= initiatives_filter_index_path(@featured_tags[0].slug) %>" alt="<%= @featured_tags[0].title %>">
                  <div class="picture" style="background-image: url(<%= asset_path(@featured_tags[0].image_url) %>)"></div>
                  <div class="metadata">
                    <h4 class="title -dark -xs"><%= @featured_tags[0].title %></h4>
                    <p><%= @featured_tags[0].description %></p>
                  </div>
                </a>
              </article>
            </div>
          </div>
          <div class="row js-masonry-cards">
            <% @featured_tags.each_with_index do |tag, index| %>
              <% if index > 1 %>
                <div class="js-masonry-item grid-s-12 grid-m-6">
                  <article class="c-card">
                    <a href="<%= initiatives_filter_index_path(tag.slug) %>" alt="<%= tag.title %>">
                      <div class="picture" style="background-image: url(<%= asset_path(tag.image_url) %>)"></div>
                      <div class="metadata">
                        <h4 class="title -dark -xs"><%= tag.title %></h4>
                        <p><%= tag.description %></p>
                      </div>
                    </a>
                  </article>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
