<% if (error || !indicators.length) { %>

  <div class="grid-s-12">
    <div class="row">
      <div class="container">
        <div class="grid-s-12 grid-m-8 grid-l-7 -no-mobile">
          <h1 class="title-placeholder"></h1>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="row">
        <div class="grid-s-12 grid-l-7">
          <div class="filters-placeholder">
            <span class="c-tag"></span>
            <span class="c-tag"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="l-data-definition">
        <div class="row">
          <div class="container">
            <div class="grid-s-12 grid-l-7">
              <!-- <div class="description-placeholder">
                <div></div>
                <div></div>
                <div></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

<% } else { %>

  <div class="grid-s-12">
    <div class="row">
      <div class="container">
        <!-- <div class="grid-s-12 grid-m-8 grid-l-7">
          <h1 class="title -highlight -huge js-country"><%= country %></h1>
        </div> -->
        <div class="grid-s-12 grid-m-6 _no-mobile _align-right">
          <div class="header-buttons">
              <% if (hasDownload) { %>
                <button class="c-button -white js-download-all">Download all</button>
              <% } %>
            <button class="c-button -white js-customize-indicators">Customise indicators</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="row">
      <div class="grid-s-12 grid-l-7">
        <div class="l-population">
          <% if (isMSME) { %>
            <span class="title">Based on business owners of</span>
            <span class="number"><%= totalMsme %></span>
          <% } else if (isCGAP) { %>
            <span class="title">Based on smallholder farmers of</span>
            <span class="number"><%= population %></span>
          <% } else { %>
            <span class="title">Based on adult population of</span>
            <span class="number"><%= population %></span>
          <% } %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-s-12 grid-l-7">
        <div class="l-data-range">
          <% if (!isRegion) { %>
          <span class="c-tag js-filter-tag" data-tab="context"><%= jurisdiction %></span>
          in
          <span class="c-tag js-filter-tag" data-tab="context"><%= year %></span>
          <% } %>
          <p>
            Showing data about
            <% indicators.forEach(function (indicator, index) { %>
              <%= indicators.length > 1 && index === indicators.length - 1 ? 'and' : '' %> <span class="c-tag js-filter-tag" data-tab="indicator"><%= indicator.name %></span>
            <% }) %>
          </p>
          <% if (filters.length) { %>
            <p>
              Filtered by
              <% filters.forEach(function (filter, index) { %>
                <%= filters.length > 1 && index === filters.length - 1 ? 'and' : '' %> <span class="c-tag js-filter-tag" data-tab="filter"><%= filter.name + ': ' + filter.options.join(', ') %></span>
              <% }) %>
            </p>
          <% } %>
        </div>
      </div>
      <div class="grid-s-12 grid-l-5">
        <div class="l-supplied-by">
          <% if (country === 'Nigeria' && year === 2016) { %>
            <img src="/images/logos/EFINA-Logo.png" alt="EFINA" />
          <% } %>
          <% if (country === 'Nigeria' && year === 2018) { %>
            <img src="/images/logos/EFINA-Logo.png" alt="EFINA" />
          <% } %>
        <% if (isMSME) { %>
          <p>Data supplied by</p>
          <a href="https://finmark.org.za/_programme/data-for-financial-markets/finscope/finscope-msme/" target="_blank" rel="noopener noreferrer">
            <img src="/images/logos/fmt-MSME.svg" alt="FMT Finscope MSME" height="71px" />
          </a>
        <% } else if (country === 'Tanzania' && year === 2017) { %>
          <a href="https://finmark.org.za/_programme/data-for-financial-markets/finscope/finscope-consumer" target="_blank" rel="noopener noreferrer">
            <img src="/images/logos/finscope.png" alt="Finscope" />
          </a>

        <% } else if (country === 'Uganda' && year === 2018) { %>
          <a href="http://fsduganda.or.ug/" target="_blank"
            rel="noopener noreferrer">
            <img src="/images/logos/FSDU-WHITE-Logo.png" alt="FSDU" />
          </a>

        <% } else if (isCGAP) { %>
            <img src="/images/logos/CGAP_white.svg" alt="CGAP" />
            <p>The following dataset is nationally representative of smallholder farmers for this country.</p>

        <% } else if (isUNCDF) { %>
            <p>Data developed in partnership by</p>
            <div class="flex">
              <a href="https://finmark.org.za/_programme/data-for-financial-markets/finscope/finscope-consumer" target="_blank" rel="noopener noreferrer">
                <img src="/images/logos/fmt_white.svg" alt="Finscope" class="-left -small-width" />
              </a>
              <a href="https://www.uncdf.org/" target="_blank" rel="noopener noreferrer">
                <img src="/images/logos/uncdf_white.svg" alt="UNCDF" class="-right"/>
              </a>
          </div>

        <% } else if (isAFR) { %>
            <p>Data supplied by</p>
            <a href="http://www.afr.rw/" target="_blank" rel="noopener noreferrer">
              <img src="/images/logos/afr_white.svg" alt="AFR" />
            </a>
        <% } else if (isFSD) { %>
            <p>Data supplied by</p>
            <a href="http://www.afr.rw/" target="_blank" rel="noopener noreferrer">
              <img src="/images/logos/FSDZ_white.svg" alt="AFR" />
            </a>
        <% } else if (isHaiti) { %>
            <p>Data supplied by</p>
            <a href="https://www.usaid.gov/" target="_blank" rel="noopener noreferrer">
              <img src="/images/logos/USAID.svg" alt="USAID" class="-width" />
            </a>
        <% } else { %>
            <p>Data supplied by</p>
            <a href="https://finmark.org.za/_programme/data-for-financial-markets/finscope/finscope-consumer" target="_blank" rel="noopener noreferrer">
              <img src="/images/logos/fmt-white.svg" alt="Finscope" class="-width" />
            </a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="l-data-definition">
      <div class="row">
        <div class="container">
          <div class="grid-s-12 grid-l-7">
            <!-- <div class="description-placeholder">
              <div></div>
              <div></div>
              <div></div>
            </div> -->
          </div>
          <div class="grid-s-12 _no-tablet">
            <button class="c-button -white js-customize-indicators">Customise indicators</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<% } %>
