<% if (error || !indicators.length) { %>

  <div class="grid-s-12">
    <div class="row">
      <div class="container">
        <div class="grid-s-12 grid-m-8 grid-l-7 -no-mobile">
          <h1 class="title-placeholder"></h1>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="row">
        <div class="grid-s-12 grid-l-7">
          <div class="filters-placeholder">
            <span class="c-tag"></span>
            <span class="c-tag"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-s-12">
      <div class="l-data-definition">
        <div class="row">
          <div class="container">
            <div class="grid-s-12 grid-l-7">
              <!-- <div class="description-placeholder">
                <div></div>
                <div></div>
                <div></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

<% } else { %>

  <div class="grid-s-12">
    <div class="row">
      <div class="container">
        <!-- <div class="grid-s-12 grid-m-8 grid-l-7">
          <h1 class="title -highlight -huge js-country"><%= country %></h1>
        </div> -->
        <div class="grid-m-4 grid-l-5 _no-mobile _align-right">
          <button class="c-button -white js-customize-indicators">Customise indicators</button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="row">
      <div class="grid-s-12 grid-l-7">
        <div class="l-population">
          <% if (isCGAP) { %>
            <span class="title">Based on smallholder farmers of</span>
          <% } else { %>
            <span class="title">Based on adult population of</span>
          <% } %>
          <span class="number"><%= population %></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-s-12 grid-l-7">
        <div class="l-data-range">
          <span class="c-tag js-filter-tag" data-tab="context"><%= jurisdiction %></span>
          in
          <span class="c-tag js-filter-tag" data-tab="context"><%= year %></span>
          <p>
            Showing data about
            <% indicators.forEach(function (indicator, index) { %>
              <%= indicators.length > 1 && index === indicators.length - 1 ? 'and' : '' %> <span class="c-tag js-filter-tag" data-tab="indicator"><%= indicator.name %></span>
            <% }) %>
          </p>
          <% if (filters.length) { %>
            <p>
              Filtered by
              <% filters.forEach(function (filter, index) { %>
                <%= filters.length > 1 && index === filters.length - 1 ? 'and' : '' %> <span class="c-tag js-filter-tag" data-tab="filter"><%= filter.name + ': ' + filter.options.join(', ') %></span>
              <% }) %>
            </p>
          <% } %>
        </div>
      </div>
      <div class="grid-s-12 grid-l-5">
        <div class="l-supplied-by">
        <% if (country === 'Tanzania' && year === 2017) { %>
          <img src="/images/logos/finscope.png" alt="Finscope" />
        <% } %>

        <% if (isCGAP) { %>
            <img src="/images/logos/CGAP_white.svg" alt="CGAP" />
            <p>The following dataset is nationally representative of smallholder farmers for this country.</p>
        <% } %>

        <% if (isUNCDF) { %>
            <p>Data supplied by</p>
            <img src="/images/logos/uncdf_white.svg" alt="UNCDF" />
        <% } %>

        <% if (isAFR) { %>
            <p>Data supplied by</p>
            <img src="/images/logos/afr_white.svg" alt="AFR" />
        <% } %>

        <% if (!(isAFR || isUNCDF || isCGAP)) { %>
            <p>Data supplied by</p>
            <img src="/images/logos/finscope.svg" alt="Finscope" class="-width" />
        <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-s-12">
    <div class="l-data-definition">
      <div class="row">
        <div class="container">
          <div class="grid-s-12 grid-l-7">
            <!-- <div class="description-placeholder">
              <div></div>
              <div></div>
              <div></div>
            </div> -->
          </div>
          <div class="grid-s-12 _no-tablet">
            <button class="c-button -white js-customize-indicators">Customise indicators</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<% } %>
