<% if (!countries.length) { %>

  <% for (var i = 0; i < 9; i++) { %>
    <div class="grid-s-6 grid-m-6 grid-l-4">
      <article class="c-flag -placeholder"></article>
    </div>
  <% } %>

<% } else { %>

  <% countries.forEach(function (country) { %>
    <div class="grid-s-6 grid-m-6 grid-l-4">
      <article class="c-flag" style="background-image: url('/images/flags/<%= country.iso %>.svg');">
        <a href="/data-portal/<%= country.iso %>/<%= country.latestYear %>">Go to the <%= country.name %> portal</a>
        <span class="country-name"><%= country.name %></span>
      </article>
    </div>
  <% }); %>

<% } %>
