<!-- Image header -->
<% unless event.image.blank? %>
  <div class="l-image" style="background-image: url(<%= event.image.url(:original) %>)"></div>
<% end %>

<div class="l-content">
  <div class="l-article">
    <%= render partial: 'shared/social-nav', locals: { title: event.title } %>
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <article class="c-article">
            <div class="wrapper">
              <div class="row">
                <header>
                  <div class="container">
                    <div class="grid-s-12 grid-l-10">
                      <%= link_to 'Events', updates_events_path, :class => 'index-link _no-mobile' %>
                      <h1 class="title -xbig -dark js-social-nav-title"><%= event.title %></h1>
                      <span class="authorship">Written
                        <% unless event.author.blank? %>
                          by <span class="author-name"><%= event.author %></span>
                        <% end %>
                        on <%= DateHelper.beautify event.date %>
                      </span>
                    </div>
                  </div>
                </header>
              </div>
            </div>

            <section class="article-content js-social-nav-content">
              <%if event.image.blank? != true %>
                <div class="row">
                  <div class="grid-s-12">
                      <div class="article-image" style="background-image: url(<%= event.image %>)"></div>
                  </div>
                </div>
              <% end %>

              <div class="wrapper">
                <div class="row article-text">
                  <div class="grid-s-12 grid-m-10 grid-l-10">
                    <%= event.content.html_safe %>
                  </div>
                </div>

                <div class="row article-text">
                  <div class="grid-s-12 grid-m-10 grid-l-10">
                    <% if event.documents.present? %>
                      <ul class="link-list">
                        <% event.documents.each do |document| %>
                          <li class="link-item"><a href="<%= document.file.url %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= document.name %>">Download <%= "#{document.name} (#{readable_file_size(document.file_file_size)})" %></a></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                </div>

                <% if event.url.blank? != true %>
                <div class="row">
                  <div class="grid-s-12 grid-m-12 grid-l-12">
                    <div class="footer-article">
                      <a class="c-button -medium -sea" href="<%= event.url %>" target="_blank" ref="noopener noreferrer">More info</a>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </section>
          </article>
        </div>
      </div>
    </div>

    <%if @related.any? %>
      <section class="l-related-section">
        <div class="wrapper">
          <h2 class="title -dark -big">Related content</h2>
          <div class="l-card-grid">
            <div class="row">
              <%= render partial: 'shared/cards', locals: { insights: @related, route: 'insights' }%>
              <% if @morePaginationAvailable %>
                <div class="grid-s-12">
                  <div class="grid-footer" id="show-more">
                    <%= link_to 'Show more', insights_show_path(event.category.slug, event.slug, { entity: event.record_type, offset: @offset, anchor: 'show-more' }), :class => 'c-button -big -sea' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
