<!-- Image header -->
<% unless news.image.blank? %>
  <div class="l-image" style="background-image: url(<%= news.image.url(:original) %>)"></div>
<% end %>

<div class="l-content">
  <div class="l-article">
    <div class="c-social-nav js-social-nav">
      <div class="wrapper">
        <h2 class="title"><%= news.title %></h2>
        <ul class="medias">
          <li>
            <a href="https://twitter.com/home?status=Check%20out%20this%20really%20interesting%20article%20from%20%40i2ifacility%3A%0A{{URL}}" class="js-share" aria-label="Share on Twitter" target="_blank" ref="noopener noreferrer">
              <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{URL}}" class="js-share" aria-label="Share on Facebook" target="_blank" ref="noopener noreferrer">
              <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{URL}}&title={{TITLE}}" class="js-share" aria-label="Share on Linked in" target="_blank" ref="noopener noreferrer">
              <svg class="icon"><use xlink:href="#icon-linkedln"></use></svg>
            </a>
          </li>
          <li>
            <a href="mailto:?body=Check%20out%20this%20really%20interesting%20article%20from%20i2i%3A%0A{{URL}}" class="js-share" aria-label="Email to a friend" target="_blank" ref="noopener noreferrer">
              <svg class="icon"><use xlink:href="#icon-email"></use></svg>
            </a>
          </li>
          <li>
            <button aria-label="Print" target="_blank" ref="noopener noreferrer" onClick="window.print();">
              <svg class="icon"><use xlink:href="#icon-print"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="progress-bar js-social-nav-progress-bar"></div>
    </div>

    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <article class="c-article">
            <div class="wrapper">
              <div class="row">
                <header class="c-article-header">
                  <div class="container">
                    <div class="grid-s-12">
                      <%= link_to 'News', insights_filter_index_path('news'), :class => 'index-link _no-mobile' %>
                      <h1 class="title -xbig -dark js-social-nav-title"><%= news.title %></h1>
                      <span class="authorship">Written
                        <% unless news.author.blank? %>
                          by <span class="author-name"><%= news.author %></span>
                        <% end %>
                        on <%= DateHelper.beautify news.date %>
                      </span>
                    </div>
                  </div>
                </header>
              </div>
              <section class="article-content js-social-nav-content">
                <%if news.image.blank? != true %>
                  <div class="row">
                    <div class="grid-s-12">
                        <div class="article-image" style="background-image: url(<%= news.image %>)"></div>
                    </div>
                  </div>
                <% end %>
                <div class="row article-text">
                  <div class="grid-s-12">
                    <p><%= news.content.html_safe %></p>
                  </div>
                </div>
              </section>
            </div>
          </article>
        </div>
      </div>
    </div>

    <%if @related.any? %>
      <section class="l-related-section">
        <div class="wrapper">
          <h2 class="title -dark -big">Related content</h2>
          <div class="l-card-grid">
            <div class="row">
              <%= render partial: 'shared/cards', locals: { insights: @related, route: 'insights' }%>
              <% if @morePaginationAvailable %>
                <div class="grid-s-12">
                  <div class="grid-footer" id="show-more">
                    <%= link_to 'Show more', insights_show_path(news.category.slug, news.slug, { entity: news.record_type, offset: @offset, anchor: 'show-more' }), :class => 'c-button -big -sea' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
