<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
  </div>

  <div class="l-content">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, 'EMAIL' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, 'PASSWORD' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'REPEAT PASSWORD' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Register" %>
      </div>
    <% end %>

    <%- if controller_name != 'sessions' %>
      <%= link_to "I have an account", new_session_path(resource_name) %><br />
    <% end -%>
  </div>
</div>
