<% title 'Sign up' %>
<div class="l-account">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-form-contact" style="display: flex; justify-content: center;">
            <div class="grid-s-11 grid-m-8">
              <div class="form-box">
                <h2>Sign up</h2>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "c-form contact-form account-form" }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field custom-row">
                    <%= f.label :email, 'EMAIL *' %><br />
                    <%= f.email_field :email, required: true, autofocus: true %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :password, 'PASSWORD *' %><br />
                    <%= f.password_field :password, required: true, autocomplete: "off" %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :password_confirmation, 'REPEAT PASSWORD *' %><br />
                    <%= f.password_field :password_confirmation, required: true, autocomplete: "off" %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :name, 'NAME' %><br />
                    <%= f.text_field :name %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :surname, 'SURNAME' %><br />
                    <%= f.text_field :surname %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :company, 'INSTITUTION/COMPANY' %><br />
                    <%= f.text_field :company %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :position, 'POSITION' %><br />
                    <%= f.text_field :position %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :city, 'CITY' %><br />
                    <%= f.text_field :city %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :country, 'COUNTRY' %><br />
                    <%= f.text_field :country %>
                  </div>

                  <div class="field custom-row">
                    <%= f.label :attribution, 'ATTRIBUTION (NAME OF UPLOADER)' %><br />
                    <%= f.text_field :attribution %>
                  </div>

                  <div class="field custom-inline-row">
                    <%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, "You agree to our #{link_to 'terms and conditions', terms_of_use_path } *".html_safe %>
                  </div>

                  <div class="form-actions">
                    <%- if controller_name != 'sessions' %>
                      <%= link_to "I have an account", new_session_path(resource_name), :class => 'primary'%>
                    <% end -%>
                    <%= f.submit "Register", :class => 'secondary'%>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
