<div class="veil _no-mobile"></div>
<div class="c-modal <%= modalClass %>">
  <div id="modal-content" class="js-modal-content modal-content">
    <% if (showTitle) { %>
      <h1 class="modal-title"><%= title %></h1>
    <% } %>
    <% if (isForm) { %>
      <form id="<%= form.id %>" action="<%= form.action %>">
        <div class="<%= form.classes %>">
          <%= content %>
        </div>
        <footer class="modal-footer"><%= footer %></footer>
      </form>
    <% } else { %>
      <%= content %>
      <footer class="modal-footer"><%= footer %></footer>
    <% } %>
  </div>
</div>
