<article class="c-card">
  <a href="<%= initiatives_show_path(blog.record_type, blog.slug, { entity: blog.record_type }) %>" alt="<%= blog.title %>">
    <div class="picture" style="background-image: url(<%= blog.image %>)"></div>
  </a>
  <div class="metadata">
    <h4 class="title -dark -regular"><%= blog.title %></h4>
    <p><%= blog.summary %></p>
  </div>
  <footer class="footer">
    <h4 class="date"><%= DateHelper.beautify blog.date %></h4>
    <%= link_to blog.category.name, initiatives_filter_index_path(blog.record_type),
    class: "subcategory" %>
  </footer>
</article>


