<% title 'News' %>

<div class="l-keep-updated">

  <div class="l-header">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: false } %>
    </div>
  </div>

  <div class="l-header-section">
    <div class="wrapper">
      <div class="row">
        <div class="container">
          <div class="grid-s-12 grid-m-6">
            <h2 class="title -dark -big -center">News</h2>
            <p class="subtitle">See where our work is being covered in the media coverage.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">
      <div class="l-card-grid">
        <div class="row">
          <% @news.each_with_index do |news, index| %>
            <% if index == 0 %>
              <div class="grid-s-12 grid-m-6 grid-l-8">
                <article class="c-card -highlighted">
                  <a href="<%= news_path(news.id) %>" alt="<%= news.title %>">
                    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= news.title %></h4>
                      <% if news.has_attribute? 'date' %>
                        <h4 class="title -sea -small"><%= DateHelper.beautify news.date %></h4>
                      <% end %>
                      <p><%= news.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% else %>
              <div class="grid-s-12 grid-m-6 grid-l-4">
                <article class="c-card">
                  <a href="<%= news_path(news.id) %>" alt="<%= news.title %>">
                    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= news.title %></h4>
                      <% if news.has_attribute? 'date' %>
                        <h4 class="title -sea -small"><%= DateHelper.beautify news.date %></h4>
                      <% end %>
                      <p><%= news.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% end %>
          <% end %>
          <div class="grid-s-12">
            <div class="grid-footer">
              <button class="c-button -big -sea js-btn-more">Show more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
