<% title @news.title %>

<div class="l-details-page">

  <div class="l-header">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: false } %>
    </div>
  </div>

  <div class="l-content">

    <div class="l-article">

      <div class="wrapper">

        <div class="row">

          <div class="grid-s-12">

            <article class="c-article">
              <div class="row">
                <header>
                  <div class="container">
                    <div class="grid-s-12 grid-l-8">
                      <%= link_to 'News', updates_news_index_path, :class => 'index-link _no-mobile' %>
                      <h1 class="title -xbig -dark "><%= @news.title %></h1>
                      <span class="authorship">Written
                        <% unless @news.author.blank? %>
                          by <span class="author-name"><%= @news.author %></span>
                        <% end %>
                        on <%= DateHelper.beautify @news.date %>
                      </span>
                    </div>
                  </div>
                </header>
              </div>

              <section class="article-content">
                <%if @news.image.blank? != true %>
                  <div class="row">
                    <div class="grid-s-12">
                        <div class="article-image" style="background-image: url(<%= @news.image %>)"></div>
                    </div>
                  </div>
                <% end %>

                <div class="row">
                  <div class="article-text">
                    <div class="grid-s-12 grid-m-10 grid-l-8">
                      <p><%= @news.content.html_safe %></p>
                    </div>
                  </div>
                </div>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>

    <section class="l-related-section">
      <div class="wrapper">
        <h2 class="title -dark -big">Related news</h2>
        <div class="l-card-grid">
          <div class="row">
            <% @RelatedNews.each do |news| %>
              <div class="grid-s-12 grid-m-6 grid-l-4">
                <article class="c-card">
                  <a href="<%= news_path(news.id) %>" alt="<%= news.title %>">
                    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= news.title %></h4>
                      <h4 class="title -sea -small"><%= DateHelper.beautify news.date %></h4>
                      <p><%= news.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% end %>
            <div class="grid-s-12">
              <div class="grid-footer">
                <%= link_to 'More news', updates_news_index_path, :class => 'c-button -big -sea' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
</div>
