<% title 'Account | i2i' %>

<div class="l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-insights.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">User area</h1>
                <p class="subtitle">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-library-content-selector">
        <div class="wrapper">
          <div class="row">
            <div class="selectors-container grid-12">
              <%= link_to 'Datasets', root_path, class: "content-selector" %>
              <%= link_to 'Account details', account_path, class: "content-selector -current" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" l-section">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-form-contact" style="display: flex; justify-content: center;">
            <div class="grid-s-12 grid-m-8">

              <%= form_for current_user, url: user_url(current_user), method: :patch, html: { class: "c-form contact-form" } do |f| %>
                <div class="custom-row">
                  <%= f.label :name, 'NAME' %>
                  <br />
                  <%= f.text_field :name %>
                </div>

                <div class="custom-row">
                  <%= f.label :email, 'EMAIL' %>
                  <br />
                  <%= f.email_field :email, disabled: true, readonly: true %>
                </div>

                <br />
                <%= f.submit "Save", class: "c-button" %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
