<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-form-contact" style="display: flex; justify-content: center;">
            <div class="grid-s-11 grid-m-8">
              <div class="form-box">
                <h2 class="form-header">Reset your password</h2>
              <p>
                Type your new password:
              </p>

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "c-form contact-form" }) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>

                <div class="field custom-row">
                  <%= f.label :password, "NEW PASSWORD" %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off" required%>
                </div>

                <div class="field custom-row">
                  <%= f.label :password_confirmation, "CONFIRM NEW PASSWORD" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" required%>
                </div>

                <br/>

                <div class="actions">
                  <%= f.submit "Save and login" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
