<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
  </div>

  <div class="l-content">
    <h2>Reset password</h2>
    <p>
      Type your new password:
    </p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "NEW PASSWORD" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "CONFIRM NEW PASSWORD" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Save and login" %>
      </div>
    <% end %>
  </div>
</div>
