<div class="l-homepage">
  <div class="l-intro js-hero" style="background-image: url(<%= asset_path('headers/header-bg-home.jpg') %>)">
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' , locals: { isFixed: true } %>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <div class="l-form-contact" style="display: flex; justify-content: center;">
            <div class="grid-s-8 grid-m-6">
              <h2>Reset password</h2>
              <p>
                To reset your password, type your email address:
              </p>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "c-form contact-form" }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field custom-row">
                  <%= f.label :email, 'EMAIL' %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <br/>

                <div class="actions">
                  <%= f.submit "Reset" %>
                </div>
              <% end %>

              <br/>

              <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_session_path(resource_name) %><br />
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
