<% title 'i2i National Surveys' %>

<div class="l-national-surveys l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-data.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-7">
                <div class="row">
                  <h1 class="title -light -huge">i2i Data Portal</h1>
                  <p class="subtitle">Compare indicators across countries and periods. Start by gaining a broad overview of the financial market through <%= link_to 'National Surveys', national_surveys_path %>, and then deepen your understanding of how low-income households manage their financial lives using <%= link_to 'Financial Diaries', financial_diaries_path %>.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-library-content-selector">
        <div class="wrapper">
          <div class="row">
            <div class="selectors-container grid-12">
              <%= link_to 'General Data',
                          data_portal_path,
                          class: "content-selector #{'-current' if current_page?(data_portal_path)}", data: { turbolinks: false } %>

              <%= link_to national_surveys_path,
                          class: "content-selector #{'-current' if current_page?(national_surveys_path)}", data: { turbolinks: false } do %>
                <%= inline_svg('logos/national_surveys.svg', class: "icon #{'-current' if current_page?(national_surveys_path)}") %>
                National Surveys
              <% end %>
              <%= link_to financial_diaries_path,
                          class: "content-selector #{'-current' if current_page?(financial_diaries_path)}", data: { turbolinks: false } do %>
                <%= inline_svg('logos/financial_diaries.svg', class: "icon #{'-current' if current_page?(financial_diaries_path)}") %>
                Financial Diaries
              <% end %>
              <%= link_to geospatial_data_path,
                          class: "content-selector #{'-current' if current_page?(geospatial_data_path)}", data: { turbolinks: false } do %>
                <%= inline_svg('logos/geospatial_data.svg', class: "icon #{'-current' if current_page?(geospatial_data_path)}") %>
                Geospatial Data
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <%= render partial: 'data_portal/description',
                 locals: {
                   section_title: 'Financial Diaries',
                   description: 'Financial diaries offer insight into the combination of financial instruments that households use over time. Trained enumerators visit households multiple times over an extended period to ask questions about income, expenses and transactions in financial instruments. While the selected sample is not nationally representative, the level of depth obtained through diaries research is not comparable with traditional survey methods.'
                 } %>
      <%= render partial: 'data_portal/filtered_countries_list', locals: { countries: @worldwide_countries, regions_hash: @regions_hash } %>
      <%= render partial: 'data_portal/regions_list', locals: { regions: @regions } %>
      <%= render partial: 'data_portal/additional_data' %>
    </div>
  </div>
</div>
