<footer class="c-footer">
  <div class="wrapper">
    <div class="container-logo-mobile">
      <div class="app-logo">
        <%= link_to image_tag('/i2i-logo.svg', :alt => 'insight2impact'), root_path %>
      </div>
    </div>
    <ul class="partner-list">
     
      <li class="partner-item">
        <%= link_to image_tag('logos/bill-and-melinda-gates.png',
          :alt => 'Bill & Mellinda Foundation'), 'http://www.gatesfoundation.org/',
          :class => 'bill-mellinda-logo',
          :target => '_blank',
          :rel => 'noopener'
        %>
      </li>
     
      <li class="partner-item">
        <%= link_to image_tag('logos/mastercard.png', :alt => 'The Mastercard Foundation'), 'http://www.mastercardfdn.org/',
          :class => 'mastercard-logo',
          :target => '_blank',
          :rel => 'noopener'
        %>
      </li>
      
      <li class="partner-item">
        <%= link_to image_tag('logos/cenfri.png',
          :alt => 'Cenfri'), 'http://cenfri.org/',
          :class => 'cenfri-logo',
          :target => '_blank',
          :rel => 'noopener'
        %>
      </li>
      
      <li class="partner-item">
        <%= link_to image_tag('logos/fmt.png', :alt => 'Finmark Trust'), 'http://www.finmark.org.za/',
          :class => 'finmark-logo',
          :target => '_blank',
          :rel => 'noopener'
        %>
      </li>
      
     
    </ul>
    <ul class="nav" role="navigation">
      <li class="nav-item"><%= link_to 'Homepage', root_path %></li>
      <li class="nav-item"><%= link_to 'Data portal', data_portal_path %></li>
      <li class="nav-item"><%= link_to 'News', news_index_path %></li>
      <li class="nav-item"><%= link_to 'Resources', libraries_path %></li>
      <li class="nav-item"><%= link_to 'Community', community_path %></li>
      <li class="nav-item"><%= link_to 'About', about_path %></li>
      <li class="nav-item"><%= link_to 'Terms of use', terms_of_use_path %></li>
      <li class="nav-item"><%= link_to 'Privacy policy', privacy_policy_path %></li>
      <li class="nav-item -followus"><span class="js-toggle-tooltip">Follow us</span></li>
    
    </ul>
  </div>
</footer>
