<footer class="c-footer">
  <div class="wrapper">
    <nav class="c-nav" role="navigation">
      <ul class="nav-list">
        <li class="nav-item"><%= link_to 'Homepage', home_path%></li>
        <li class="nav-item"><%= link_to 'Data portal', data_portal_path %></li>
    		<li class="nav-item"><%= link_to 'News', news_index_path %></li>
    		<li class="nav-item"><%= link_to 'Library', libraries_path %></li>
    		<li class="nav-item"><%= link_to 'Community', community_path %></li>
    		<li class="nav-item"><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
    <div class="credits">
      <div class="app-logo">
        <%= link_to image_tag('/i2i-logo.svg', :alt => 'Insight to Impact'), home_path %>
      </div>
      <div class="authorship">
        <span class="designed-by">Designed by</span>
        <%= link_to image_tag('/images/logos/vizzuality.png', :alt => 'Vizzuality'), 'http://www.vizzuality.com/',
          :class => 'vizzuality-logo',
          :target => '_blank'
        %>
      </div>
    </div>
  </div>
</footer>
