<div id="header">
  This is the header
  It has a pretty image, the i2i logo, links for the stuff
  <br>
  <%= link_to 'I2I Logo', home_path%>
  <%= link_to 'Data Portal', data_portal_path %>
  <%= link_to 'News', news_index_path %>
  <%= link_to 'Libraries', libraries_path %>
  <%= link_to 'Community', community_path %>
  <%= link_to 'About', about_path %>
</div>
<br>