<div class="c-header">
	<div class="app-logo">
		<%= link_to 'I2I Logo', home_path%>
	</div>
  <nav class="c-nav" role="navigation">
    <ul class="nav-list">
  		<li class="nav-item"><%= link_to 'Data portal', data_portal_path %></li>
  		<li class="nav-item"><%= link_to 'News', news_index_path %></li>
  		<li class="nav-item"><%= link_to 'Library', libraries_path %></li>
  		<li class="nav-item"><%= link_to 'Community', community_path %></li>
  		<li class="nav-item"><%= link_to 'About', about_path %></li>
    </ul>
  </nav>
</div>
