<div class="c-mobile-menu <% if current_page?(root_path) %> -homepage <% end %>">
  <div class="wrapper">
    <div class="container">
      <button class="btn-close js-close-menu"></button>

      <nav>
        <ul class="nav-list">
          <li class="nav-item <% if controller.controller_name == 'data_portal' || controller.controller_name == 'report' %> -current <% end%>">
            <%= link_to 'Data portal', data_portal_path %>
          </li>
          <li class="nav-item <% if current_page?(insights_path) %> -current <% end%>">
            <%= link_to 'Insights', insights_path %>
          </li>
          <li class="nav-item <% if current_page?(tools_path) %> -current <% end%>">
            <%= link_to 'Tools', tools_path %>
          </li>
          <li class="nav-item <% if current_page?(about_path) %> -current <% end%>">
            <%= link_to 'About', about_path %>
          </li>
        </ul>
      </nav>

      <div class="app-logo">
        <%= link_to image_tag('/i2i-logo.svg', :alt => 'insight2impact'), root_path %>
      </div>
    </div>
  </div>
</div>
