<% title 'Library' %>

<div class="l-library">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-library.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>
    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">i2i Library</h1>
              <p class="subtitle">Keep informed on the latest research in financial inclusion data, measurement, and client insights from a range of knowledge products produced by us, our partners, and other thought leaders in the field.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="l-library-content-selector">
      <div class="wrapper">
        <div class="row">
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector -current" data-type="publications">Publications</button>
          </div>
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector" data-type="journal">Journal</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-card-grid">
    <div class="wrapper">
      <div class="row">
        <% @libraries.each do |library| %>
          <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3 js-card"
            data-type=""
          >
            <article class="c-card">
              <div class="picture" style="background-image: url(<%= library.image %>)"></div>
              <div class="metadata">
                <h4 class="title -xs -dark"><%= library.title %></h4>
                <h5 class="title -small -sea"><%= DateHelper.beautify library.date %></h5>
                <p><%= library.summary %></p>
                <div class="card-options">
                  <a href="<%= library.url_resource %>" target="_blank" rel="noopener" class="title -sea -small">download</a>
                  <% if library.video_url.present?%>
                    <a href="<%= library.video_url %>" class="title -sea -small" target="_blank" rel="noopener">watch video</a>
                  <% end %>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
