<div class="l-library">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-library.jpg)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>
    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">i2i Library</h1>
              <p class="subtitle">Description text. Lorem ipsum sit amet ornare
                sem lacinia quam venenatis vestibulum.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="l-library-content-selector">
      <div class="wrapper">
        <div class="row">
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector -current">Publications</button>
          </div>
          <div class="grid-s-6 grid-m-4 grid-l-2">
            <button class="content-selector ">Journal</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-card-grid">
    <div class="wrapper">
      <div class="row">
        <% @libraries.each do |library| %>
          <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
            <article class="c-card -small">
              <div data-type="<%= LibraryType.key_for(library.content_type) %>" class="picture" style="background-image: url(<%= library.image %>)">
                <%= link_to '', library  %>
              </div>
              <div class="metadata">
                <h4 class="title -xs -dark"><%= library.title %></h4>
                <% if library.has_attribute? 'date' %>
                  <h5 class="title -small -sea"><%= library.date %></h5>
                <% end %>
                <p><%= library.summary %></p>
                <div class="card-options">
                  <a href="<%= library.summary %>" target="_blank" rel="noopener" class="title -sea -small">download</a>
                  <% if library.has_attribute? 'video_url' %>
                    <a href="<%= library.video_url %>" class="title -sea -small" target="_blank" rel="noopener">watch video</a>
                  <% end %>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
