<% title 'i2i resources' %>

<div class="l-library">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-library.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>
    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -highlight -huge">i2i resources</h1>
              <p class="subtitle">The latest research in financial inclusion data, measurement, and client insights, produced by i2i, our partners, and other thought leaders in the field.</p>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="l-library-content-selector">
      <div class="wrapper">
        <div class="row">
          <div class="selectors-container grid-12">
            <% @categories.each do |category| %>
              <button class="content-selector js-category-button"><%= category.name %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-subcategory-filter">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <div class="subcategory-filters js-subcategory-filters"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-card-grid">
    <div class="wrapper">
      <div class="row">

        <% @libraries.each do |library| %>
          <div class="grid-s-12 grid-m-6 grid-l-4 library js-item"
            data-category="<%= library.category.name %>"
            data-subcategory="<%= library.subcategory.name %>"
          >
            <article class="c-card">
              <div class="picture" style="background-image: url(<%= library.image %>)"></div>
              <div class="metadata">
                <h4 class="title -xs -dark"><%= library.title %></h4>
                <h5 class="title -small -sea"><%= DateHelper.beautify library.date %></h5>
                <p><%= library.summary %></p>
                <div class="card-options">
                  <% if (library.document.present? && library.document.file.present?) || library.url_resource.present? %>
                    <% if library.document.present? && library.document.file.present? %>
                      <a href="<%= library.document.file.url %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">Download</a>
                    <% else %>
                      <a href="<%= library.url_resource %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">Download</a>
                    <% end %>
                  <% end %>
                  <% if library.issuu_link.present? and library.category.name === 'Publications' %>
                    <a href="<%= library.issuu_link %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">View</a>
                  <% end %>
                  <% if library.video_url.present?%>
                    <a href="<%= library.video_url %>" class="title -sea -small js-video" target="_blank" rel="noopener">Watch video</a>
                  <% end %>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
