<!-- <p id="notice"><%= notice %></p> -->

<div class="l-hero">
  <div class="wrapper">
    <%= render partial: 'shared/header'%>
    <div class="c-hero">
      <div class="column small-6">
        <h1 class="c-title -light -huge">News</h1>
        <p class="subtitle">Description text. Lorem ipsum sit amet ornare sem
          lacinia quam venenatis vestibulum.</a>
        </p>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to 'Show', news %></td>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News', new_news_path %>
