<div class="<%= @countries.count < 0 ? 'c-country-selector' : '' %>">
  <% if current_page?(data_portal_country_preview_path) %>
    <%= link_to 'Go to the data portal', data_portal_path, :class => 'country-link' %>
  <% elsif current_page?(data_portal_financial_diaries_path) || current_page?(fsp_maps_path) || current_page?(data_portal_y_path) %>
    <%= link_to 'Go to the ' + @country[:name] + ' data portal', data_portal_country_preview_path(@country[:iso]), :class => 'country-link' %>
  <% end %>

  <% if current_page?(data_portal_country_preview_path) || current_page?(data_portal_financial_diaries_path) %>
    <%= select_tag "country",
      options_for_select(@countries.collect{ |country| [country[:name], country[:iso]] }.sort, @country[:iso]),
      { class: 'country-selector js-country-selector' }
    %>
  <% end %>

  <% if current_page?(fsp_maps_path) %>
    <%= select_tag "country",
      options_for_select(@countries.collect{ |country| [country[:name], country[:iso]] }.sort, @country[:iso]),
      { class: 'country-selector js-country-selector' }
    %>
  <% end %>

  <% if @country.finscope %>
    <% if current_page?(data_portal_y_path(@country.finscope[:iso], @country.finscope[:latest_year])) %>
      <%= select_tag "country",
        options_for_select(@countries.collect{ |country| [country[:name], country[:iso] + "-" + country[:latest_year].to_s] }.sort, @country[:iso] + "-" + @country_latest_year),
        { class: 'country-selector js-country-selector' }
      %>
    <% end %>
  <% end %>

  <h1 class="title -highlight -huge country-placeholder js-country-placeholder"><%= @country[:name] %></h1>

  <% if current_page?(fsp_maps_path) && @country.iso === 'HTI' %>
    <p class="info">Map data is from 2018</p>
  <% end %>
</div>
