<div class="l-indicator-menu">
  <ul class="indicator-menu js-filters">
    <% @categories.each do |category| %>
      <li class="indicator-item">
        <%= check_box_tag(category[:name],
          value = category[:name],
          checked = @selectedCategories.find { |cat| cat['type'] == category[:name] && cat['visible'] == true }.present?,
          options = {
            class: "filterinput js-category-visibility"
          }) %>
        <label
          class="visibility-indicator"
        ></label>
        <label
          class="indicator-group-name"
        > <%= category[:name] %> </label>
        <label
          class="indicator-selected js-gm-label"
          data-parent="<%= category[:name] %>"
        >
          <% if (@selectedCategories.find { |cat| cat['type'] == category[:name] && cat['subcategory'] != nil }.present?) %>
            <span>
              <%= @selectedCategories.find { |cat| cat['type'] == category[:name] }['subcategory'].truncate(25) %>
            </span>
          <% else %>
            <span>
              <%= category[:name] %>
            </span>
          <% end %>
        </label>
        <ul class="c-submenu-list js-gm-menu">
          <%# Default "all" option for all categories %>
          <li class="submenu-item">
            <span
              class="literal js-category-child-option"
              data-parent="<%= category[:name] %>"
            >
              All <%= category[:name] %>
            </span>
          </li>
          <% category[:children].each do |children| %>
            <li class="submenu-item <% if (@selectedCategories.find { |cat| cat['type'] == category[:name] && cat['subcategory'] == children[:name] }) %> -selected <%end %>">
              <span
                class="literal js-category-child-option"
                data-parent="<%= category[:name] %>"
                data-category="<%= children[:name] %>"
              >
                <%= children[:name] %>
              </span>
            </li>
            <% category[:children].each do |children| %>
              <li class="filterlistitem">
                <span
                  class="itemtitle js-category-option"
                  data-parent="<%= category[:name] %>"
                  data-category="<%= children[:name] %>"
                >
                  <%= children[:name] %>
                </span>
              </li>
            <% end %>
          </ul>
        </liv>
      <% end %>
    </ul>
  <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
