<% title 'i2i data portal' %>

<div class="l-preview-country">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <div class="row">
                  <%= render partial: 'data_portal_financial_diaries/country-selector' %>
                  <p class="subtitle">Let the data speak to you. Delve into new financial inclusion datasets from around the world.
                    Extract insights into new markets, including informal markets.
                    Compare indicators across countries and time periods.
                    <a href="#financial-diaries-dataset" data-turbolinks="false" class="js-anchor">Financial diaries,</a>
                    <a href="#finscope-dataset" data-turbolinks="false" class="js-anchor">FinScope dataset.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content" id="financial-diaries-dataset">
    <div class="wrapper">
      <% if @country_financial_diaries.present? %>
        <section class="dataset">
          <div class="row">
            <div class="grid-s-12 grid-m-8">
              <h3 class="title -big -dark">Financial Diaries</h3>
              <p class="dataset-description">
                Financial diaries offer insight into the combination of financial instruments that households use over time. Trained enumerators visit households multiple times over an extended period to ask questions about income, expenses and transactions in financial instruments. While the selected sample is not nationally representative, the level of depth obtained through diaries research is not comparable with traditional survey methods.
              </p>
              <%= link_to "Discover Financial Diaries", data_portal_financial_diaries_path(@country[:iso]),
                class: "c-button -sea datasetbutton", data: { turbolinks: false } %>
            </div>
          </div>
        </section>
      <% end %>

      <% if @country_finscope.present? %>
        <section class="dataset" id="finscope-dataset">
          <div class="row">
            <div class="grid-s-12 grid-m-8">
              <h3 class="title -big -dark">FinScope</h3>
              <p class="dataset-description">
                The FinScope methodology is a credible and globally accepted process of collecting and analysing financial inclusion data. FinScope methodology uses a sampling procedure that ensures minimum acceptable levels for national, urban/rural and regional reliable estimates with acceptable margins of error. A multi-stage sampling methodology is applied, which entails selection of enumeration areas (EAs) – from recent census or population estimates using probability proportional to size, followed by the selection of households and the selection of one adult in the selected household using a Kish Grid.
              </p>
              <%= link_to "Discover FinScope data", data_portal_y_path(@country_finscope[:iso], @country_finscope[:latest_year]),
                class: "c-button -sea datasetbutton", data: { turbolinks: false } %>
            </div>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
