<% title 'i2i data portal' %>

<div class="l-preview-country">
  <div class="fixed-nav js-fixed-nav">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isFixed: true } %>
    </div>
  </div>

  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>

    <div class="content" style="background-image: url(<%= @country.background_url(:header) || asset_path('headers/header-bg-about.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero" style="padding-bottom: 50px;">
              <div class="grid-l-8 grid-m-8">
                <div class="row">
                  <%= render partial: 'data_portal_financial_diaries/country-selector' %>
                </div>
              </div>

              <div class="grid-12">
                <div class="row">
                  <div class="grid-l-8 grid-m-8">
                    <div class="row">
                      <% if @commodities %>
                        <p class="subtitle">
                          Exports:
                          <span style="color: #fff; font-weight: 400;">
                            <%= @commodities.description %>
                          </span>
                        </p>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-top: 20px">
                  <div class="grid-l-6 grid-m-6">
                    <div class="row">
                      <% if @partners.any? %>
                        <p class="subtitle" style="margin-top: 0">
                          Data depositors:
                        </p>

                        <%= render partial: 'regions/partner', collection: @partners %>
                      <% end %>
                    </div>
                  </div>

                  <% if @capitals.count > 0 %>
                    <div class="grid-l-6 grid-m-6" style="padding-top: 10px; display: flex; justify-content: flex-end;">
                      <% @capitals.each do |c| %>
                        <div style="display: flex; flex-direction: column; margin-left: 10px;">
                          <h3 class="capital-name" style="white-space: nowrap; margin-bottom: 5px; color: #fff; font-size: 22px; line-height: 30px; font-weight: 700;">
                            <%= c.name %>
                          </h3>

                          <p class="subtitle -uppercased" style="margin: 0 0 2px 0; color: #FFFFFF; text-transform: uppercase; font-size: 13px; font-weight: 700; line-height: 15px;">
                            <%= c.capital_type %>
                          </p>

                          <p class="subtitle -uppercased" style="margin: 0 0 2px 0; color: #FFFFFF; text-transform: uppercase; font-size: 13px; font-weight: 700; line-height: 15px;">
                            Population (2014): <%= number_with_delimiter(c.population, :delimiter => ',') %>K
                          </p>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content" style="position: relative; z-index: 9; margin-top: -20px; padding-top: 0">
    <div class="wrapper">
      <section>
        <div class="row" style="display: flex; flex-wrap: wrap;">
          <%= render partial: 'regions/downloads',
                     locals: { downloads: @country_carrier.downloads,
                               iso: @country.iso,
                               show_downloads_modal: @country_carrier.show_downloads_modal?,
                               modal_downloads: @country_carrier.modal_downloads.to_json } %>
          <%= render partial: 'regions/publications',
                     locals: { publications: @country_carrier.publications,
                               iso: @country.iso,
                               has_more_publications: @country_carrier.more_publications_visible?,
                               downloads: @country_carrier.downloadable_publications.to_json } %>
        </div>
        <div class="row">
          <%= render partial: 'data_portal/country_widgets' %>
        </div>
      </section>

      <% if @country_finscope.present? %>
        <section class="dataset">
          <div class="row">
            <div class="grid-s-12 grid-m-8">
              <h3 class="title -big -dark" id="finscope-dataset">National Surveys</h3>
              <p class="dataset-description">
                The National Surveys methodology is a credible and globally accepted process of collecting and analysing financial inclusion data. National Surveys methodology uses a sampling procedure that ensures minimum acceptable levels for national, urban/rural and regional reliable estimates with acceptable margins of error. A multi-stage sampling methodology is applied, which entails selection of enumeration areas (EAs) – from recent census or population estimates using probability proportional to size, followed by the selection of households and the selection of one adult in the selected household using a Kish Grid.
              </p>
            </div>

            <iframe src="/data-portal/indicator/embed/<%= params[:iso] %>/<%= @country_finscope[:latest_year] %>" width="100%" height="560"></iframe>

            <div class="grid-12" style="margin-bottom: 20px;">
              <%= link_to "Discover National Surveys data", data_portal_y_path(@country_finscope[:iso], @country_finscope[:latest_year]),
                class: "c-button -sea dataset-button", data: { turbolinks: false } %>
            </div>
          </div>
        </section>
      <% end %>

      <% if @country_financial_diaries.present? %>
        <section class="dataset">
          <div class="row">
            <div class="grid-s-12 grid-m-8">
              <h3 class="title -big -dark" id="financial-diaries-dataset">Financial Diaries</h3>
              <p class="dataset-description">
                <% if @country_financial_diaries.custom_text %>
                  <%= @country_financial_diaries.custom_text %>
                <% else %>
                  The Financial Diaries in <span><%= @country[:name] %></span> started on <span><%= @country_financial_diaries.start_date.strftime("%Y/%m") %></span> and
                  ended on <span><%=@country_financial_diaries.end_date.strftime("%Y/%m") %></span>. The currency for this country is in <span><%= @country_financial_diaries.currency_singular %>
                  </span> <span>(<%= @country_financial_diaries.currency_symbol %>)</span>. The number of households interviewed was <span><%= @country_financial_diaries.num_households_in_hh %>
                  </span>, with <span><%= @country_financial_diaries.num_members_in_mem %></span> individual members.<% if @country_financial_diaries[:province].present? %> The survey was conducted in the
                  <span><%= @country_financial_diaries[:province] %></span> region.<% end %> Please note that the Financial Diaries are not a nationally representative dataset.
                <% end %>
              </p>
            </div>

            <iframe src="/data-portal/<%= params[:iso] %>/financial-diaries/embed/individuals/main-chart?p=eyJjYXRlZ29yaWVzIjoiJTVCJTdCJTIyY2F0ZWdvcnlfdHlwZSUyMiUzQSUyMmluY29tZSUyMiUyQyUyMmNhdGVnb3J5X25hbWUlMjIlM0ElMjJBTEwlMjIlN0QlNUQiLCJzdWJGaWx0ZXJzIjoiIiwidGl0bGUiOiJJbmNvbWUifQ==&no_logo=true" width="100%" height="840"></iframe>

            <div class="grid-12" style="margin-bottom: 20px;">
              <%= link_to "Discover Financial Diaries", data_portal_financial_diaries_path(@country[:iso]),
                class: "c-button -sea dataset-button", data: { turbolinks: false } %>
            </div>
          </div>
        </section>
      <% end %>

      <% if @country.has_fsp_maps %> <%# Change this for a real check if country has fsp maps %>
        <section class="dataset">
          <div class="row">
            <div class="grid-s-12 grid-m-8">
              <h3 class="title -big -dark" id="fsp-maps-dataset">Geospatial data</h3>
              <p class="dataset-description">
                For <%= @country.name %>, we have financial location data points, with other additional data layers that you can overlay onto a map, you can also analyze the data based on the selections you have made, bring in national survey widgets onto the map and view demand side data with supply-side data.
              </p>
              <%= link_to "Discover Geospatial data", fsp_maps_path,
                class: "c-button -sea dataset-button", data: { turbolinks: false } %>
            </div>
          </div>
        </section>
      <% end %>
    </div>
  </div>
</div>
