<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('spinning-loader.svg') %>" as="image">
<% end %>

<% dataAvailable = (@selectedCategories.select { |cat| cat['visible'] == true }.size > 0) %>

<% title 'Data Portal | Financial Diaries' %>

<div class="l-data-portal-financial-diaries">
  <div class="l-mobile-header _no-desktop js-mobile-header">
    <div class="wrapper">
      <header>
        <span class="country-name js-country">–</span>
        <button type="button" class="js-mobile-header-toggle">Toggle menu</button>
      </header>
    </div>
  </div>
  <div class="l-intro">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header' %>
      </div>
    </div>
    <div class="content">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <h1 class="title -light -huge js-country"><%= @country[:name] %></h1>
                <p class="subtitle">Let the data speak to you. Delve into new financial inclusion datasets from around the world.
                  Extract insights into new markets, including informal markets. Compare indicators across countries and time periods.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-content-switch">
        <div class="wrapper">
          <div class="row">
            <div class="grid-s-12">
              <div class="contentswitchcontainer">
                <div class="contentswitchitem">
                  <div class="row">
                    <div class="grid-s-12 grid-m-7">
                      <%= render partial: 'data_portal_financial_diaries/filters' %>
                    </div>
                  </div>
                </div>
                <div class="contentswitchitem -primary">
                  <ul class="c-content-tabs">
                    <li class="content-tab-item">
                      <button type="button" data-type="households" class="js-content-tab tab -current">Households (<%= @project_quantities[:number_households] %>)</button>
                    </li>
                    <li class="content-tab-item">
                      <button type="button" data-type="individuals" class="js-content-tab tab">Individuals (<%= @project_quantities[:number_individuals] %>)</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <div class="row">
        <div class="grid-s-12">
          <%= render partial: 'data_portal_financial_diaries/demographic_filters' %>
        </div>
      </div>
      <div class="row">
        <div class="grid-s-12">
          <% if (dataAvailable) %>
          <!-- Widget -->
          <div class="c-widget" id="vis-main-chart"></div>
          <!-- Widget -->
          <% else %>
            <%= render partial: 'data_portal_financial_diaries/no_data_available' %>
          <% end %>
        </div>
        <div class="grid-s-12">
          <% if (dataAvailable) %>
          <!-- Widget -->
          <div class="c-widget" id="vis-grouped-bar-chart"></div>
          <!-- Widget -->
          <% else %>
            <%= render partial: 'data_portal_financial_diaries/no_data_available' %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="vis-tooltip" class="vg-tooltip"></div>
  </div>
</div>
