<% title 'Community' %>

<div class="l-community">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-comm.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-8">
              <h1 class="title -light -huge">i2i Community</h1>
              <p class="subtitle">Turn ideas into practice. Share, learn, and connect with others. Meet like-minded individuals from around the world and exchange ideas on specific topics in financial inclusion measurement, data and client insights.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <div class="l-card-grid">
        <div class="row">
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://access.i2ifacility.org/i2i_Portal/Experts.php" target="_blank" alt="Experts Database" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/experts.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Experts Database</h4>
                  <p>Find an Expert Database, is where you can find Companies and Individuals in the area of data for financial inclusion.</p>
                </div>
              </a>
            </article>
          </div>
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://access.i2ifacility.org/i2i_Portal/Forum.php" target="_blank" alt="Discussion Forum" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/discussion-forum.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Discussion Forum</h4>
                  <p>General discussion forum for financial inclusion, free to join, use, and enjoy forever. Join today!</p>
                </div>
              </a>
            </article>
          </div>
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://datahack4fi.org/" target="_blank" alt="Datahack4FI" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/datahack4fi.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Datahack4FI</h4>
                  <p>There are eight country-level competitions. Winners from each of these will be selected to join the ultimate DataHack4FI.</p>
                </div>
              </a>
            </article>
          </div>
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://access.i2ifacility.org/Community/Questionnaire_design_tool/" target="_blank" alt="Questionnaire design tool" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/questionnaire-design-tool.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Questionnaire design tool</h4>
                  <p>See how other questionaires asked a question or got that question answered, a taxonomy on questionnaire design.</p>
                </div>
              </a>
            </article>
          </div>
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://access.i2ifacility.org/Community/Implementation_Guide/" target="_blank" alt="Implementation Guide" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/implementation-guide.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Implementation Guide</h4>
                  <p>This guide contains comprehensive information about how to start, design, configure, a survey database.</p>
                </div>
              </a>
            </article>
          </div>
          <div class="grid-s-12 grid-m-6">
            <article class="c-card">
              <a href="http://access.i2ifacility.org/Community/Spatial_Data/" target="_blank" alt="Spatial Data" rel="noopener noreferrer">
                <div class="picture" style="background-image: url(<%= asset_path('community/spatial-data.jpg') %>)"></div>
                <div class="metadata">
                  <h4 class="title -dark -xs">Spatial Data</h4>
                  <p>The geospatial data for financial inclusion (gis4FI) community aims to promote learning and sharing, and support.</p>
                </div>
              </a>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
