<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Contact - insight2impact</title>
</head>
<body>
  <h1>Insight2Impact contact message</h1>
  <dl>
    <dt>First name</dt>
    <dd><%= @contact.first_name %></dd>
    <dt>Last name</dt>
    <dd><%= @contact.last_name %></dd>
    <dt>Email</dt>
    <dd><%= @contact.email %></dd>
    <dt>Title</dt>
    <dd><%= @contact.title %></dd>
    <dt>Company</dt>
    <dd><%= @contact.company %></dd>
    <dt>Country</dt>
    <dd><%= @contact.country %></dd>
    <dt>Message</dt>
    <dd><%= @contact.message %></dd>
  </dl>
</body>
</html>
