<% title "Geospatial data" %>

<div class="l-national-surveys l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-data.jpg') %>)">
      <%= render partial: 'data_portal/header_title' %>
      <%= render partial: 'data_portal/sections_tabs' %>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <%= render partial: 'data_portal/description',
                 locals: {
                   section_title: 'Geospatial Data',
                   description: '"Geospatial" indicates that the data has a geographic component to it. This means that the records in a dataset have locational information tied to them, such as geographic data in the form of coordinates, address, city or ZIP code. GIS data is a powerful tool that gives a user the ability to view data at a country/jurisdiction level. We’ve partnered with global data providers (such as <a href="https://resourcewatch.org/" target="_blank">Resource watch</a>, AIDData and Humanitarian Data Exchange) to give you useful contextual layers, overlaid with financial access points and agricultural points.'.html_safe
                          }%>
      <%= render partial: 'data_portal/filtered_countries_list', locals: { countries: @worldwide_countries, regions_hash: @regions_hash } %>
      <%= render partial: 'data_portal/regions_list', locals: { regions: @regions } %>
      <%= render partial: 'data_portal/additional_data' %>
    </div>
  </div>
</div>
