<article class="c-card">
  <a href="<%= insights_show_path(blog.category.slug, blog.slug, { entity: blog.record_type }) %>" alt="<%= blog.title %>">
    <div class="picture" style="background-image: url(<%= blog.image %>)"></div>
  </a>
  <div class="metadata">
    <a <a href="<%= insights_show_path(blog.category.slug, blog.slug, { entity: blog.record_type }) %>">
      <h4 class="title -dark -regular"><%= blog.title %></h4>
    </a>
    <p><%= blog.summary %></p>
  </div>
  <footer class="footer">
    <h4 class="date"><%= DateHelper.beautify blog.date %></h4>
    <span class="card-category"><%= blog.category.name %></span>
  </footer>
</article>

