<article class="c-card">
  <a href="<%= insights_show_path(event.category.slug, event.slug, { entity: event.record_type }) %>" alt="<%= event.title %>">
    <div class="picture" style="background-image: url(<%= event.image %>)"></div>
  </a>
  <div class="metadata">
    <a href="<%= insights_show_path(event.category.slug, event.slug, { entity: event.record_type }) %>" alt="<%= event.title %>">
      <h4 class="title -dark -regular"><%= event.title %></h4>
    </a>
    <p><%= event.summary %></p>
  </div>
  <footer class="footer">
    <h4 class="date"><%= DateHelper.beautify event.date %></h4>
    <span class="card-category"><%= event.category.name %></span>
  </footer>
</article>

