<article class="c-card">
  <div class="picture" style="background-image: url(<%= library.image %>)"></div>
  <div class="metadata">
    <h4 class="title -dark -regular"><%= library.title %></h4>
    <p><%= library.summary %></p>
    <div class="card-options">
      <% if (library.document.present? && library.document.file.present?) || library.url_resource.present? %>
        <% if library.document.present? && library.document.file.present? %>
          <a href="<%= library.document.file.url %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">Download <%= "(#{readable_file_size(library.document.file_file_size)})" %></a>
        <% else %>
          <a href="<%= library.url_resource %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">Download</a>
        <% end %>
      <% end %>
      <% if library.issuu_link.present? and library.category.name === 'Publications' %>
        <a href="<%= library.issuu_link %>" target="_blank" rel="noopener" class="title -sea -small js-download" data-name="<%= library.title %>">View</a>
      <% end %>
      <% if library.video_url.present?%>
        <a href="<%= library.video_url %>" class="title -sea -small js-video" target="_blank" rel="noopener">Watch video</a>
      <% end %>
    </div>
  </div>
  <footer class="footer">
    <h4 class="date"><%= DateHelper.beautify library.date %></h4>
    <%= link_to library.category.name, insights_filter_index_path(library.category.slug),
    class: "subcategory" %>
  </footer>
</article>

