<article class="c-card">
  <a href="<%= insights_show_path(news.category.slug, news.slug, { entity: news.record_type }) %>" alt="<%= news.title %>">
    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
  </a>
  <div class="metadata">
    <a href="<%= insights_show_path(news.category.slug, news.slug, { entity: news.record_type }) %>">
      <h4 class="title -dark -regular"><%= news.title %></h4>
    </a>
    <p><%= news.summary %></p>
  </div>
  <footer class="footer">
    <h4 class="date"><%= DateHelper.beautify news.date %></h4>
    <span class="card-category"><%= news.category.name %></span>
  </footer>
</article>



