<div class="l-news">
  <div class="l-intro" style="background-image: url(images/headers/header-bg-news.jpg)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">News</h1>
              <p class="subtitle">Description text. Lorem ipsum sit amet ornare
                sem lacinia quam venenatis vestibulum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="wrapper">
      <div class="card-grid -news">
        <div class="row">
          <% @news.each_with_index do |news, index| %>
            <% if index == 0 %>
              <div class="grid-s-12 grid-m-6 grid-l-8">
                <article class="c-card -highlighted">
                  <div class="picture" style="background-image: url(<%= news.image %>)">
                    <%= link_to '', news_path(news.id) %>
                  </div>
                  <div class="metadata">
                    <h4 class="title -dark -xs"><%= news.title %></h4>
                    <% if news.has_attribute? 'date' %>
                      <h4 class="title -sea -small"><%= news.date %></h4>
                    <% end %>
                    <p><%= news.summary %></p>
                  </div>
                </article>
              </div>
            <% else %>
              <div class="grid-s-12 grid-m-6 grid-l-4">
                <article class="c-card -medium">
                  <div class="picture" style="background-image: url(<%= news.image %>)">
                    <%= link_to '', news_path(news.id) %>
                  </div>
                  <div class="metadata">
                    <h4 class="title -dark -xs"><%= news.title %></h4>
                    <% if news.has_attribute? 'date' %>
                      <h4 class="title -sea -small"><%= news.date %></h4>
                    <% end %>
                    <p><%= news.summary %></p>
                  </div>
                </article>
              </div>
            <% end %>
          <% end %>
          <div class="grid-s-12">
            <div class="grid-footer">
              <div class="grid-s-12 grid-m-4 grid-l-3">
                <a href="<%= updates_news_index_path %>" class="c-button btn-more">More news</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="events-section">
        <h2 class="title -dark -big">Events</h2>
        <div class="card-grid">
          <div class="row">
            <% @events.each do |event| %>
              <div class="grid-s-12 grid-m-6 grid-l-4 grid-xl-3">
                <article class="c-card -small">
                  <div class="picture" style="background-image: url(<%= event.image %>)">
                    <%= link_to '', updates_events_path(event.id) %>
                  </div>
                  <div class="metadata">
                    <h4 class="title -dark -xs"><%= event.title %></h4>
                    <h4 class="title -sea -small"><%= event.date %></h4>
                    <p><%= event.summary %></p>
                  </div>
                </article>
              </div>
            <% end %>
            <div class="grid-s-12">
              <div class="grid-footer">
                <div class="grid-s-12 grid-m-4 grid-l-3">
                  <a href="<%= updates_events_path %>" class="c-button btn-more">More events</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="blog-section">
        <h2 class="title -dark -big">Blog</h2>
        <div class="card-grid">
          <div class="row">
            <% @blogs.each_with_index do |post, index| %>
              <div class="grid-s-12">
                <article class="c-card -horizontal <%if index % 2 == 0 %> -reverse <% end %>">
                  <div class="picture" style="background-image: url(<%= post.image %>)">
                    <%= link_to '', updates_blog_path(post.id) %>
                  </div>
                  <div class="metadata">
                    <h4 class="title -dark -xs"><%= post.title %></h4>
                    <h4 class="title -sea -small"><%= post.date %></h4>
                    <p><%= post.summary %></p>
                  </div>
                </article>
              </div>
            <% end %>
            <div class="grid-s-12">
            <div class="grid-footer">
              <div class="grid-s-12 grid-m-4 grid-l-3">
                <a href="<%= updates_blogs_path %>" class="c-button btn-more">More posts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
</div>
</div>
