<% title 'News' %>

<div class="l-news">
  <div class="l-intro" style="background-image: url(<%= asset_path('headers/header-bg-news.jpg') %>)">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isCover: true }%>
    </div>

    <div class="l-title">
      <div class="wrapper">
        <div class="row">
          <div class="c-hero">
            <div class="grid-l-6">
              <h1 class="title -light -huge">News</h1>
              <p class="subtitle">Stay up to date with the latest <a href="#news" class="js-anchor">news</a>, <a href="#events" class="js-anchor">events</a> and <a href="#blogs" class="js-anchor">blogs</a> from us and our partners.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="l-content">
    <div class="wrapper">
      <div class="card-grid -news" id="news">
        <div class="row">
          <% @news.each_with_index do |news, index| %>
            <% if index == 0 %>
              <div class="grid-s-12 grid-m-6 grid-l-8">
                <article class="c-card -highlighted">
                  <a href="<%= news_path(news.slug) %>" alt="<%= news.title %>">
                    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= news.title %></h4>
                      <h4 class="title -sea -small"><%= DateHelper.beautify news.date %></h4>
                      <p><%= news.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% else %>
              <div class="grid-s-12 grid-m-6 grid-l-4">
                <article class="c-card">
                  <a href="<%= news_path(id: news.slug) %>" alt="<%= news.title %>">
                    <div class="picture" style="background-image: url(<%= news.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= news.title %></h4>
                      <h4 class="title -sea -small"><%= DateHelper.beautify news.date %></h4>
                      <p><%= news.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% end %>
          <% end %>
          <div class="grid-s-12">
            <div class="grid-footer">
              <a href="<%= updates_news_index_path %>" class="c-button -big  btn-more">More news</a>
            </div>
          </div>
        </div>
      </div>

      <section class="events-section" id="events">
        <h2 class="title -dark -big">Events</h2>
        <div class="card-grid">
          <div class="row">
            <% @events.each do |event| %>
              <div class="grid-s-12 grid-m-6 grid-l-4">
                <article class="c-card">
                  <a href="<%= updates_event_path(id: event.slug) %>" alt="<%= event.title %>">
                    <div class="picture" style="background-image: url(<%= event.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= event.title %></h4>
                      <h4 class="title -sea -small"><%= DateHelper.beautify event.date %></h4>
                      <p><%= event.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% end %>
            <div class="grid-s-12">
              <div class="grid-footer">
                <a href="<%= updates_events_path %>" class="c-button -big btn-more">More events</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="blog-section" id="blogs">
        <h2 class="title -dark -big">Blog</h2>
        <div class="card-grid">
          <div class="row">
            <% @posts.each_with_index do |post, index| %>
              <div class="grid-s-12">
                <article class="c-card -horizontal <%if index % 2 == 0 %> -reverse <% end %>">
                  <a href="<%= updates_blog_path(id: post.slug) %>" alt="<%= post.title %>">
                    <div class="picture" style="background-image: url(<%= post.image %>)"></div>
                    <div class="metadata">
                      <h4 class="title -dark -xs"><%= post.title %></h4>
                      <h4 class="title -sea -small"><%= DateHelper.beautify post.date %></h4>
                      <p><%= post.summary %></p>
                    </div>
                  </a>
                </article>
              </div>
            <% end %>
            <div class="grid-s-12">
              <div class="grid-footer">
                <a href="<%= updates_blogs_path %>" class="c-button -big btn-more">More posts</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
