<div class="modal-content -team">
  <div class="member-picture">
    <img src="<%= url_photo %>" alt="<%= name %>">
  </div>
  <div class="modal-wrapper">
    <h3 class="title -dark -medium"><%= name %></h3>
    <h4 class="title -sea -small"><%= role %></h4>
    <p><%= description %></p>
  </div>
</div>
<div class="modal-footer -team">
  <button class="c-button js-close-btn-modal">close</button>
</div>
