<article class="c-card">
  <a href="<%= insights_show_path(blog.record_type, blog.slug, { entity: blog.record_type }) %>" alt="<%= blog.title %>">
    <div class="picture" style="background-image: url(<%= blog.image %>)"></div>
  </a>
  <div class="metadata">
    <h4 class="title -dark -xs"><%= blog.title %></h4>
    <h4 class="title -sea -small"><%= DateHelper.beautify blog.date %></h4>
    <p><%= blog.summary %></p>
    <%= link_to blog.subcategory.name, insights_filter_index_path(blog.record_type,
      { subcategory: blog.subcategory.slug, entity: blog.record_type }),
    class: "title -sea -small" %>
  </div>

</article>

