<article class="c-card">
  <a href="<%= insights_show_path(insight.category.slug, insight.slug, { entity: insight.record_type }) %>" alt="<%= insight.title %>">
    <div class="picture" style="background-image: url(<%= insight.image.url(:thumb) %>)"></div>
  </a>
  <div class="metadata">
    <a href="<%= insights_show_path(insight.category.slug, insight.slug, { entity: insight.record_type }) %>">
      <h4 class="title -dark -regular"><%= insight.title %></h4>
    </a>
    <p><%= insight.summary %></p>
    <% if insight.tags.length > 0 %>
      <div class="tags-container">
        <% insight.tags.each do |tag| %>
          <span>
            <%= link_to tag.name, search_path(:tag_term => tag.slug), :class => 'tag'  %><%= tag != insight.tags.last ? ',' : '' %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if insight.countries.length > 0 %>
      <div class="tags-container">
        <% insight.countries.each do |country| %>
          <span>
            <%= link_to country.name, search_path(:tag_term => country.iso), :class => 'tag'  %><%= country != insight.countries.last ? ',' : '' %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if insight.regions.length > 0 %>
      <div class="tags-container">
        <% insight.regions.each do |region| %>
          <span>
            <%= link_to region.name, search_path(:tag_term => region.iso), :class => 'tag'  %><%= region != insight.regions.last ? ',' : '' %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
  <footer class="footer">
    <div class="card-options">
      <h4 class="date"><%= DateHelper.beautify insight.date %></h4>
      <span class="card-category"><%= insight.category.name %></span>
    </div>
  </footer>
</article>
