<% title 'Search | i2i' %>
<div class="l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-insights.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="l-search">
              <div class="c-hero -search">
                <h1 class="title -highlight -huge">Search i2i</h1>
                <div class="grid-s-12 grid-m-12 grid-l-10">
                  <%= form_tag(search_path, :method => "get", :class => 'c-form c-search', :id=> 'search-input') do %>
                    <div class="search-box">
                      <svg class="icon search-icon"><use xlink:href="#icon-search"></use></svg>
                      <%= label_tag(:term, "Search for:", :class => '_is-visually-hidden') %>
                      <%= text_field_tag(:term, params[:term], :class => 'search-input', :placeholder => 'Type your search here') %>
                    </div>
                    <%= button_tag("Search", :type => 'submit', :name => nil, :class => 'js-search-input c-button -white -big search-submit') %>
                  <% end %>
                </div>
                <div class="grid-s-12 grid-m-12 grid-l-12">
                  <div class="items-container">
                    <% if @records %>
                      <div class="items-row -leading">
                        <% if @term %>
                          <span class="item-label">Showing:</span>
                          <span><%= @term[0] %></span>
                        <% end %>
                      </div>
                      <div class="items-row">
                        <% if @tag_term %>
                          <span class="item-label">Filtered by:</span>
                          <ul>
                          <% @tag_term.each do |tag_term| %>
                            <li><%= tag_term.name %></li><%= tag_term != @tag_term.last ? ',' : '' %>
                          <% end %>
                          </ul>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="l-card-grid">
      <div class="wrapper">
        <div class="row">
          <div class="grid-s-12">
            <div class="c-filters-block">
              <h2 class="title -dark -medium">Filter by:</h2>
              <%= form_tag(search_path, method: 'get', class: 'c-form filters-form') do %>
                <%= text_field_tag(:term, params[:term], hidden: true) %>
                <div class="row">
                  <div class="grid-s-12 grid-m-3 filter-column">
                    <%= label_tag :types, 'Types' %>
                    <%= select_tag(:types, options_for_select(@categories.all.collect { |c| [c.name, c.slug] }, params[:types]), { include_blank: true, multiple: true, class: 'filter-select' }) %>
                  </div>
                  <div class="grid-s-12 grid-m-3 filter-column">
                    <%= label_tag :topics, 'Topics' %>
                    <%= select_tag(:topics, options_for_select(@topics.collect { |c| [c.name, c.slug] }, params[:topics]), { include_blank: true, multiple: true, class: 'filter-select' }) %>
                  </div>
                  <div class="grid-s-12 grid-m-3 filter-column">
                    <%= label_tag :locations, 'Locations' %>
                    <%= select_tag(:locations, options_for_select(@countries.all.collect { |c| [c.name, c.iso] }, params[:locations]), { include_blank: true, multiple: true, class: 'filter-select' }) %>
                  </div>
                  <div class="grid-s-12 grid-m-3 filter-column">
                    <%= button_tag('Apply', type: :submit, readonly: true, class: 'c-button -sea -medium') %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="grid-s-12">
            <% if !@records.nil? && @records.length > 0 %>
              <h2 class="title heading -big -center -dark">Search results</h2>
              <%= render partial: 'shared/cards', locals: { insights: @records } %>
            <% else %>
              <% if @term || @tag_term %>
                <h2 class="title heading -big -center -dark">Search results</h2>
                <p>No search results</p>
              <% else %>
                <h2 class="title heading -big -center -dark">Recent publications</h2>
                <%= render partial: 'shared/cards', locals: { insights: @insights }%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
