<% title 'Insights | i2i' %>

<div class="l-library">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-insights.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
                <h1 class="title -highlight -huge">Insights</h1>
                <p class="subtitle">The latest research, blog posts, interviews and curated insights in data, financial sector innovation and financial inclusion.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-library-content-selector">
        <div class="wrapper">
          <div class="row">
            <div class="selectors-container grid-12">
              <% @categories.each do |category| %>
                <%= link_to category.name, insights_filter_index_path(category.slug),
                class: "content-selector #{'-current' if (@category && @category.slug == category.slug)}" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="l-card-grid">
      <div class="wrapper">
        <div class="row">
          <%= render partial: 'shared/cards', locals: { insights: @insights, route: 'insights' } %>
          <% if @morePaginationAvailable %>
            <div class="grid-s-12">
              <div class="grid-footer" id="show-more">
                <%= link_to 'Show More', insights_filter_index_path(@category.slug, { offset: @offset, anchor: 'show-more' }), :class => 'c-button -big -sea' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
