<% title @insight.title %>

<% content_for :media_metas do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@i2ifacility" />
  <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta name="twitter:description" content="<%= @insight.summary %>" />
  <meta name="twitter:image" content="<%= ENV['SITE_URL'] %>/social-media-image.png" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta property="og:description" content="<%= @insight.summary %>" />
  <meta property="og:image" content="<%= @insight.image.url(:medium) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
<% end %>

<div class="l-details-page">
  <div class="l-intro">
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
  </div>
  <% case @insight.record_type
    when 'blog' %> <%= render partial: 'shared/show/blog', locals: { blog: @insight }%>
    <% when 'event' %> <%= render partial: 'shared/show/event', locals: { event: @insight }%>
    <% when 'news' %> <%= render partial: 'shared/show/news', locals: { news: @insight }%>
    <% when 'library' %> <%= render partial: 'shared/show/library', locals: { library: @insight }%>
  <% end %>
</div>
