<% title @insight.title %>

<div class="l-details-page">
  <div class="l-intro">
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
  </div>
  <% case @insight.record_type
    when 'blog' %> <%= render partial: 'shared/show/blog', locals: { blog: @insight }%>
    <% when 'event' %> <%= render partial: 'shared/show/event', locals: { event: @insight }%>
    <% when 'news' %> <%= render partial: 'shared/show/news', locals: { news: @insight }%>
    <% when 'library' %> <%= render partial: 'shared/show/library', locals: { library: @insight }%>
  <% end %>
</div>
