<% title "i2i #{@region.name}" %>

<div class="l-preview-country">
  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <div class="row">
                  <div class="c-country-selector">
                    <%= link_to 'Go to the data portal', data_portal_path, :class => 'country-link' %>
                    <h1 class="title -highlight -huge"><%= [@region.iso, @region.name].join(' ') %></h1>
                  </div>


                  <p class="subtitle">
                    Coutries included into this dashboard:
                  </p>
                  <p class="subtitle">
                    <% if @countries.any? %>
                      <%= render partial: 'country', collection: @countries %>
                    <% end %>
                  </p>

                  <p class="subtitle">Data depositors:
                    <p class="subtitle">
                      <% if @partners.any? %>
                        <%= render partial: 'partner', collection: @partners %>
                      <% end %>
                    </p>
                  </p>

                  <% if @region.logo.present? %>
                    <p>
                      <%= image_tag @region.logo_url(:thumb) %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
    </div>
  </div>
</div>
