<% title "i2i #{@region.name}" %>

<div class="l-regions-page">
  <div class="fixed-nav js-fixed-nav">
    <div class="wrapper">
      <%= render partial: 'shared/header', locals: { isFixed: true } %>
    </div>
  </div>

  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>);">

      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero" style="padding-bottom: 70px !important;">
              <div class="grid-l-12">
                <div class="row">
                  <div class="c-country-selector">
                    <%= link_to 'data portal', data_portal_path, class: 'country-link' %>
                    <h1 class="title -highlight -huge"><%= [@region.iso, @region.name, "Dashboard"].join(' ') %></h1>
                  </div>
                </div>
              </div>

              <div class="grid-l-12">
                <div class="row">
                  <div class="grid-l-9 grid-m-9">
                    <p class="subtitle">
                      Countries included into this dashboard:
                    </p>
                    <p class="subtitle -close">
                    <div class="countries-list">
                      <% if @countries.any? %>
                        <%= render partial: 'country', collection: @countries %>
                      <% end %>
                    </div>

                    </p>

                    <p class="subtitle">
                      Data depositors:
                    </p>

                    <% if @partners.any? %>
                      <%= render partial: 'partner', collection: @partners %>
                    <% end %>
                  </div>

                  <% if @region.logo_url(:thumb).present? %>
                    <div class="grid-l-3 grid-m-3" style="padding-top: 30px;">
                      <%= image_tag @region.logo_url(:thumb), style: 'max-height: 182px; max-width: 182px;' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content" style="position: relative; z-index: 9; margin-top: -20px; padding-top: 0">
    <div class="wrapper">
      <div class="row" style="display: flex; flex-wrap: wrap;">
        <%= render partial: 'downloads', locals: { downloads: @region_carrier.downloads,
                                                   show_downloads_modal: @region_carrier.show_downloads_modal?,
                                                   modal_downloads: @region_carrier.modal_downloads.to_json }  %>

        <%= render partial: 'publications', locals: { publications: @region_carrier.publications,
                                                      has_more_publications: @region_carrier.more_publications_visible?,
                                                      downloads: @region_carrier.downloadable_publications.to_json }%>
      </div>
      <div class="row">
        <%= render partial: 'widgets' %>
      </div>
    </div>
  </div>
</div>
