<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('spinning-loader.svg') %>" as="image">

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-utfgrid/L.UTFGrid-min.js"></script>

  <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

  <!-- GOOGLE -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>

  <!-- COMPONENTS -->
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>

<% title 'Data Portal' %>

<div class="l-data-portal-country" id="main">
  <div class="l-mobile-header _no-desktop js-mobile-header">
    <div class="wrapper">
      <header>
        <span class="country-name js-country">–</span>
        <button type="button" class="js-mobile-header-toggle">Toggle menu</button>
      </header>
    </div>
  </div>

  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>

    <div class="content">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-12">
                <%= render partial: 'data_portal_financial_diaries/country-selector' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= react_component("fsp-maps-page", { iso: @iso, shortIso: @country.short_iso, bbox: @country.bbox, latestYear: @country.finscope[:latest_year] }) %>

  </div>
</div>
