<% content_for :head do %>
  <link rel="preload" href="<%= asset_path('spinning-loader.svg') %>" as="image">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- LEAFLET -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
  <script src="https://unpkg.com/leaflet-utfgrid/L.UTFGrid-min.js"></script>

  <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

  <!-- GOOGLE -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>

  <!-- COMPONENTS -->
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>

<% title "Geospatial data for #{@country.name}" %>

<% content_for :media_metas do %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@i2ifacility" />
  <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta name="twitter:description" content="i2i is a facility established by FinMark Trust and Cenfri to respond to the growing divide between the data available for policy and product design and the ability of financial services providers, policy makers and financial intermediaries to collect, make sense of and embed this data in their decision making." />
  <meta name="twitter:image" content="<%= request.base_url %><%= @country.background_url(:header) || asset_path('headers/header-bg-data.jpg') %>" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
  <meta property="og:description" content="i2i is a facility established by FinMark Trust and Cenfri to respond to the growing divide between the data available for policy and product design and the ability of financial services providers, policy makers and financial intermediaries to collect, make sense of and embed this data in their decision making." />
  <meta property="og:image" content="<%= request.base_url %><%= @country.background_url(:header) || asset_path('headers/header-bg-data.jpg') %>" />
<% end %>

<div class="l-data-portal-country" id="main">
  <div class="l-mobile-header _no-desktop js-mobile-header">
    <div class="wrapper">
      <header>
        <span class="country-name js-country">–</span>
        <button type="button" class="js-mobile-header-toggle">Toggle menu</button>
      </header>
    </div>
  </div>

  <div class="l-intro js-hero">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav js-fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>

    <div class="content" style="padding-bottom: 190px">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-6">
              <%= render partial: 'data_portal_financial_diaries/country-selector' %>
              </div>
              <% if (@iso === 'HTI') %>
                <div class="grid-l-6">
                <div class="l-supplied-by">
                <a href="https://www.brh.ht/" target="_blank" rel="noopener noreferrer">
                  <img src="/images/logos/brh.png" alt="BRH" />
                </a>
              </div>
              <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div className="grid-s-12 grid-l-5">

  </div>

    <div style="margin-top: -190px; position: relative; z-index: 3">
      <%= react_component("fsp-maps-page", { iso: @iso, shortIso: @country.short_iso, bbox: @country.bbox, latestYear: @latest_year }) %>
    </div>
  </div>
</div>
