<% if country.has_dataset %>
  <div class="grid-s-6 grid-m-6 grid-l-3 country-button">
  <%= link_to country.link, data: { turbolinks: false } do %>
    <article class="c-flag" style='background-image: url(<%= country[:flag_url] %>);'>
      <div class="country-info">
        <div class="country-icons">
          <%= inline_svg('logos/national_surveys.svg', class: "icon #{('active' if country[:has_finscope])}") %>
          <%= inline_svg('logos/msme.svg', class: "icon #{('active' if country[:has_msme])}") %>
          <%= inline_svg('logos/financial_diaries.svg', class: "icon #{('active' if country[:has_national_diaries])}") %>
          <%= inline_svg('logos/geospatial_data.svg', class: "icon #{('active' if country[:has_fsp_maps])}") %>
        </div>
        <span class="country-name"><%= country[:name] %></span>
      </div>
    </article>
    <% end %>
  </div>
<% end %>
