<% title 'i2i data portal' %>

<div class="l-data-portal">
  <div class="l-intro">
    <div class="nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isCover: true } %>
      </div>
    </div>
    <div class="fixed-nav">
      <div class="wrapper">
        <%= render partial: 'shared/header', locals: { isFixed: true } %>
      </div>
    </div>
    <div class="content" style="background-image: url(<%= asset_path('headers/header-bg-about.jpg') %>)">
      <div class="l-title">
        <div class="wrapper">
          <div class="row">
            <div class="c-hero">
              <div class="grid-l-8">
                <div class="row">
                  <h1 class="title -light -huge">i2i data portal</h1>
                  <p class="subtitle">Let the data speak to you. Delve into new financial inclusion datasets from around the world.
                    Extract insights into new markets, including informal markets.
                    Compare indicators across countries and time periods.
                    <a href="#finscope-dataset" class="js-anchor">Financial diaries,</a>
                    <a href="#financial-diaries-dataset" class="js-anchor">FinScope dataset.</a>
                  </p>
                  <a href=".l-country-list" class="c-button -white -big js-anchor">select country</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-content">
    <div class="wrapper">
      <section class="l-dataset -finscope" id="finscope-dataset">
        <div class="row">
          <div class="grid-s-12 grid-m-6">
            <h3 class="title -big -dark">FinScope</h3>
            <ul class="c-stats-list">
              <li class="item">
                <h4 class="description">Countries</h4>
                <span class="value">7</span>
              </li>
              <li class="item -last">
                <h4 class="description">Population Surveys</h4>
                <span class="value">1081</span>
              </li>
            </ul>
            <p class="dataset-description">Description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
          </div>
        </div>
      </section>
      <section class="l-dataset -financial-diaries" id="financial-diaries-dataset">
        <div class="row">
          <div class="grid-s-12 grid-m-6">
            <h3 class="title -big -dark">Financial Diaries</h3>
            <ul class="c-stats-list">
              <li class="item">
                <h4 class="description">Countries</h4>
                <span class="value">7</span>
              </li>
              <li class="item -last">
                <h4 class="description">Population Surveys</h4>
                <span class="value">1081</span>
              </li>
            </ul>
            <p class="dataset-description">Description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </p>
          </div>
        </div>
      </section>
      <section class="l-country-list">
        <header>
          <h3 class="title -big -dark">Select country</h3>
          <p>Description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          </p>
        </header>
        <div class="l-card-grid">
          <div class="row">
            <% @countries.each do |country| %>
              <% if country.has_dataset %>
                <div class="grid-s-6 grid-m-6 grid-l-4">
                  <article class="c-flag" style='background-image: url("/images/flags/<%= country[:iso] %>.svg");'>
                    <%= link_to 'Go to the {% country[:name] %} portal', data_portal_country_preview_path(country[:iso]) %>
                    <span class="country-name"><%= country[:name] %></span>
                  </article>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
