<% - description = content_for?(:description) ? yield(:description) : 'i2i is a facility established by FinMark Trust and Cenfri to respond to the growing divide between the data available for policy and product design and the ability of financial services providers, policy makers and financial intermediaries to collect, make sense of and embed this data in their decision making.' %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= yield :title %> - insight2impact</title>
    <meta name="description" content="<%= description %>">
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <% if content_for?(:media_metas) %>
      <%= yield(:media_metas) %>
    <% else %>
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@i2ifacility" />
      <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
      <meta name="twitter:description" content="<%= description %>" />
      <meta name="twitter:image" content="<%= request.base_url %>/social-media-image.png" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'insight2impact' %>" />
      <meta property="og:description" content="<%= description %>" />
      <meta property="og:image" content="<%= request.base_url %>/social-media-image.png" />
      <meta property="og:url" content="<%= request.original_url %>" />
    <% end %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,700' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'shared/user_feedback' %>
    <%= yield :head %>
  </head>
  <body>
    <%= render partial: 'shared/icons' %>
    <%= render partial: 'shared/mobile-menu' %>
    <%= render partial: 'shared/alerts' %>
    <%= render partial: 'shared/covid-notification' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/analytics' if Rails.env.production? %>
  </body>
</html>
